
<div class="panel" ng-hide="tableView">
	<form novalidate name="invoiceForm" >
		<div class="panel-heading clearfix" >
			<h3 class="pull-left">Edit Billing</h3>
		</div>
		<div class="bill-block container">
			<div class="panel-body edit-bill">
				<div class="to-add clearfix">
					<div class="form-group userfontawsme clearfix">
						<label >To</label></br>
						Name: {{invoice.patient.username}}</br>
						Address: {{invoice.patient.address}}</br>
						Mobile: {{invoice.patient.mobile}}</br>
					</div>
					<div class="form-group clearfix">
						<span class="col-md-6 col-sm-6 padding-zro">
							<label class="control-label">Appoinment Date:</label> {{invoice.invoiceDate}}
						</span>
					</div>
				</div>
				<div class="bill-det clearfix">
					<div class="form-group userfontawsme col-md-6 clearfix padding-zro">
						<label class="bill-tit">Remmitance</label><br>
						Name: {{vm.clinicDetails.username}}<br>
						Address: {{vm.clinicDetails.address}}<br>
						Mobile: {{vm.clinicDetails.mobile}}<br>

					</div>
					<div class="form-group userfontawsme col-md-6 clearfix ">
						<div class="lft-block">
							<label class="bill-tit">Doctor</label><br>
							Name: {{invoice.doctor.username}}<br>
							Address: {{invoice.doctor.address}}<br>
							Mobile: {{invoice.doctor.mobile}}<br>

						</div>
					</div>

				</div>

				<!-- {{invoice.remainingBalance}} -->

				<div ng-if="invoice.previousAppointmentBalanceAmount != null && invoice.previousAppointmentBalanceAmount != 0">
					<label>Previous Appointment Balance:</label>
					{{invoice.appointmentBalanceAmount}}


					<!-- <span ng-if="specificCost">

					<label>Cost Ready To Pay:</label>
					{{specificCost}}
					<label> So </label>
					{{minusAmount}} -->

					<!-- <label>Enough Balance</label>
					{{enoughBalance}}
					</span> -->
				</div>


				<div ng-if="additionalInTable != null  || invoice.serviceDetails != '' || invoice.prescriptionDetails != ''">
					<table  class="table table-bordered in-list-tab bill-table">
						<tr>

							<th>Name</th>
							<th>Amount</th>
							<th>Action</th>
						</tr>
						<tr ng-if="invoice.serviceDetails != ''" ng-repeat = "x in invoice.serviceDetails track by $index">
							<td>

								<input ng-if= "invoice.previousAppPaymentCheck " type="checkbox" ng-click="vm.balanceDeductionCalculate(x.cost,invoice.checkService[$index],'service',$index)" id="serviceCheck" value="serviceCheck" ng-model="invoice.checkService[$index]"><label for="serviceCheck"><span><span></span></span>

								{{x.name}}<b>(Service)</b>
							</td>
							<td class="li-amt">
								<input type="text" name="serviceCost"  numbers-only ng-disabled="!clickEnable[$index]" value="{{x.cost}}" ng-model="x.cost" class="input-amt">
							</td>
							<td>
								<span class="action-icon" ><a class="fa fa-edit" title="edit"
									ng-click="clickEnable[$index] = !clickEnable[$index]" ng-disabled="invoice.previousAppointmentBalanceAmount == null || invoice.previousAppointmentBalanceAmount == 0 && invoice.paid" aria-hidden="true" ></a></span>
									<span class="action-icon"><a class=""  ng-if="clickEnable[$index]"
										ng-click="vm.saveServiceCashChange($index,'service',x.cost)" aria-hidden="true" title="save" ><i class="fa fa-floppy-o" aria-hidden="true"></i></a></span>
									</td>

								</tr>
								<tr ng-if="invoice.prescriptionDetails != ''" ng-repeat = "x in invoice.prescriptionDetails track by $index">
									<td ng-if="x.drugName" >

										<input ng-if= "invoice.previousAppPaymentCheck" type="checkbox" ng-click="vm.balanceDeductionCalculate(x.amount,invoice.checkProduct[$index],'product',$index)" id="productCheck" value="productCheck" ng-model="invoice.checkProduct[$index]"><label for="productCheck"><span><span></span></span>

										{{x.drugName.productName}} <b>(Drug)</b>
									</td>

									<td ng-if="x.drugName" class="li-amt">
										<input type="text" name="productCost" numbers-only ng-disabled="!invoice.clicksEnable[$index]" value="{{x.amount}}" ng-model="x.amount" class="input-amt">
									</td>
									<td ng-if="x.drugName">
										<span class="action-icon"><a class="fa fa-edit" ng-disabled="invoice.previousAppointmentBalanceAmount == null || invoice.previousAppointmentBalanceAmount = 0 && invoice.paid" ng-click="invoice.clicksEnable[$index] = !invoice.clicksEnable[$index]"  aria-hidden="true" title="edit"></a></span>
										<span class="action-icon"><a class="" ng-if="invoice.clicksEnable[$index]"  ng-click="vm.saveServiceCashChange($index,'product',x.amount)" aria-hidden="true" title="save" ><i class="fa fa-floppy-o" aria-hidden="true"></i></a></span>
									</td>

									<td ng-if="x.productName" >

										<input ng-if= "invoice.previousAppPaymentCheck" type="checkbox" ng-click="vm.balanceDeductionCalculate(x.amount,invoice.checkProduct[$index],'product',$index)" id="productCheck" value="productCheck" ng-model="invoice.checkProduct[$index]"><label for="productCheck"><span><span></span></span>

										{{x.productName.productName}} <b>(Others)</b>
									</td>
									<td ng-if="x.productName" class="li-amt">
										<input type="text" name="productCost" ng-disabled="!invoice.clicksEnable[$index]" numbers-only value="{{x.amount}}" ng-model="x.amount" class="input-amt">
									</td>
									<td ng-if="x.productName">
										<span class="action-icon"><a class="fa fa-edit" ng-disabled="invoice.previousAppointmentBalanceAmount == null || invoice.previousAppointmentBalanceAmount == 0 && invoice.paid" ng-click="invoice.clicksEnable[$index] = !invoice.clicksEnable[$index]"  aria-hidden="true" ></a></span>
										<span class="action-icon"><a class="" ng-if="invoice.clicksEnable[$index]"  ng-click="vm.saveServiceCashChange($index,'product',x.amount)" aria-hidden="true" ><i class="fa fa-floppy-o" aria-hidden="true"></i></a></span>
									</td>


									<td ng-if="x.billingItem" >
										<input ng-if= "invoice.previousAppPaymentCheck" type="checkbox" ng-click="vm.balanceDeductionCalculate(x.amount,invoice.checkProduct[$index],'product',$index)" id="productCheck" value="productCheck" ng-model="invoice.checkProduct[$index]"><label for="productCheck"><span><span></span></span>
										{{x.billingItem}}
									</td>
									<td ng-if="x.billingItem" class="li-amt">
										<input type="text" name="productCost" ng-disabled="!invoice.clicksEnable[$index]" numbers-only value="{{x.amount}}" ng-model="x.amount" class="input-amt">
									</td>
									<td ng-if="x.billingItem">
										<span class="action-icon"><a class="fa fa-edit" ng-disabled="invoice.previousAppointmentBalanceAmount == null || invoice.previousAppointmentBalanceAmount == 0 && invoice.paid" ng-click="invoice.clicksEnable[$index] = !invoice.clicksEnable[$index]"  aria-hidden="true" ></a></span>
										<span class="action-icon"><a class="" ng-if="invoice.clicksEnable[$index]"  ng-click="vm.saveServiceCashChange($index,'product',x.amount)" aria-hidden="true" ><i class="fa fa-floppy-o" aria-hidden="true"></i></a></span>
									</td>



								</tr>
								<tr ng-if="additionalInTable != ''" ng-repeat="add in additionalInTable track by $index">
									<td>

										<input ng-if= "invoice.previousAppPaymentCheck" type="checkbox" ng-click="vm.balanceDeductionCalculate(add.amount,invoice.checkAdditionalStatus[$index],'additional',$index)" id="additionalCheck" value="additionalCheck" ng-model="invoice.checkAdditionalStatus[$index]"><label for="additionalCheck"><span><span></span></span>
										{{add.name}} <b> (Additional Items) </b>

									</td>
									<td class="li-amt">
										<input type="text" name="additionalCost" ng-disabled="!clickssEnable[$index]" numbers-only value="{{add.amount}}" ng-model="add.amount" class="input-amt">
									</td>
									<td>
										<span class="action-icon"><a class="fa fa-edit" ng-disabled="invoice.previousAppointmentBalanceAmount == null || invoice.previousAppointmentBalanceAmount == 0 && invoice.paid" ng-click="clickssEnable[$index] = !clickssEnable[$index]"  aria-hidden="true" title="edit" ></a></span>
										<span class="action-icon"><a class="" ng-if= "clickssEnable[$index]" ng-click="vm.saveServiceCashChange($index,'additionalItem',add.amount,additionalInTable)" aria-hidden="true" title="save"><i class="fa fa-floppy-o" aria-hidden="true"></i></a></span>
									</td>

								</tr>
								<tr class="amt-blk">
									<td class="amt-td"><label>Sub Total :</label></td>
									<td  class="val-td">
										<input type="text" numbers-only  name="amount" class="form-control" ng-model="invoice.subTotal" required disabled="disabled">

									</td>
									<td class="emty-td"></td>
								</tr>






							</table>
						</div>

						<!-- Correct Code -->



<!-- <span>Payment Status : {{invoice.paymentStatus}}</span>

<span>appointmentBalanceAmount : {{invoice.appointmentBalanceAmount}}</span>

<span>previousAppointmentBalanceAmount : {{invoice.previousAppointmentBalanceAmount}}</span>

<span>current App Status : {{invoice.currentAppStatus}}</span>

<span>pending Amount : {{invoice.pendingAmount}}</span> -->



						<div class="col-md-9">
							<div class="form-group clearfix">
								<label class="col-md-6">Description</label>
								<div class="col-md-6">
									<input type="text" value="" name="description" class="form-control" ng-model="invoice.description" required>
								</div>
							</div>


							<div class="form-group clearfix" ng-show="invoice.paymentStatus == 'unpaid' && invoice.previousAppointmentBalanceAmount != 0 && invoice.currentAppStatus == 1 ">
								<label class="col-md-6" >Payment Status :</label>
								<div class="col-md-6 form-group classlearfix mr-0" >
									<input  type="checkbox" ng-click="vm.balancepayment(invoice.previousAppPaymentCheck)"   ng-model="invoice.previousAppPaymentCheck"  id="previousCheck" value="previousCheck">
									<label   for="previousCheck"><span><span></span></span>Balance Payment
									</label>
								</div>
							</div>
							<div class="form-group clearfix" ng-show="invoice.paymentStatus == 'paid'">
								<label class="col-md-6" >Payment Status :</label>
								<div class="col-md-3 form-group classlearfix mr-0" >
									<input type="checkbox"  ng-disabled="invoice.paid || invoice.unpaid || invoice.installment"  ng-model="invoice.paid" id="paid" value="paid"><label for="paid"><span><span></span></span>Paid
									</label>
								</div>
								<div ng-if="invoice.previousAppointmentBalanceAmount != 0 && invoice.previousAppointmentBalanceAmount != null" class="col-md-3 form-group classlearfix mr-0" >
									<input type="checkbox" ng-click="vm.balancepayment(invoice.previousAppPaymentCheck)"    ng-model="invoice.previousAppPaymentCheck" id="previousAppPayment" value="previousAppPayment"><label for="previousAppPayment"><span><span></span></span>Balance Payment</label>
								</div>
							</div>


						<div class="form-group clearfix"   ng-show="(invoice.paymentStatus == 'unpaid' ) &&  (invoice.previousAppointmentBalanceAmount == 0 || invoice.previousAppointmentBalanceAmount == null) && (invoice.appointmentBalanceAmount == 0 || invoice.appointmentBalanceAmount == null)" >
							<label class="col-md-6" >Payment Status :</label>
							<div class="col-md-6 form-group classlearfix mr-0" >
								<input type="checkbox"   ng-model="invoice.installment" id="installment" value="installment">
								<label for="installment"><span><span></span></span>Installment
							</label>
						    </div>
					  </div>

					<div class="form-group clearfix"  ng-show="invoice.paymentStatus == 'unpaid' && (invoice.previousAppointmentBalanceAmount != 0 && invoice.previousAppointmentBalanceAmount ) && invoice.currentAppStatus == 0">
						<label class="col-md-6" >Payment Status :</label>
						<div class="col-md-3 form-group classlearfix mr-0" >
							<input type="checkbox" ng-click="vm.balancepayment(invoice.previousAppPaymentCheck)"    ng-model="invoice.previousAppPaymentCheck" id="previousAppPayment" value="previousAppPayment"><label for="previousAppPayment"><span><span></span></span>Balance Payment						</label>
					</div>
					<!-- dec5 Nishant -->
					<div ng-hide="invoice.previousAppPaymentCheck" class="col-md-3 form-group classlearfix mr-0" >
						<input type="checkbox"    ng-model="invoice.installment" id="installment" value="installment"><label for="installment"><span><span></span></span>Installment
					</label>
				</div>
			   </div>

			   <div class="form-group clearfix"  ng-show="invoice.paymentStatus == 'installment' && invoice.previousAppointmentBalanceAmount != 0 && invoice.currentAppStatus == 1">
			   	<label class="col-md-6" >Payment Status :</label>
			   	<div class="col-md-3 form-group classlearfix mr-0" >
			   		<input type="checkbox" ng-click="vm.balancepayment(invoice.previousAppPaymentCheck)"    ng-model="invoice.previousAppPaymentCheck" id="previousAppPayment" value="previousAppPayment"><label for="previousAppPayment"><span><span></span></span>Balance Payment
			   	</label>
			   </div>
			   <div class="col-md-3 form-group classlearfix mr-0" >
			   <input type="checkbox" disabled   ng-model="invoice.installment" id="installment" value="installment"><label for="installment" disabled><span><span></span></span>Installment
			   </label>
			</div>
		   </div>

		     <div class="form-group clearfix"  ng-show="invoice.paymentStatus == 'installment'  && invoice.currentAppStatus == 0">
			   	<label class="col-md-6" >Payment Status :</label>

			   <div class="col-md-3 form-group classlearfix mr-0" >
			   <input type="checkbox" disabled   ng-model="invoice.installment" id="installment" value="installment"><label for="installment" disabled><span><span></span></span>Installment
			   </label>
			</div>
		   </div>

</div>

<div class="col-md-9"  >



	<div class="form-group clearfix" ng-hide="(invoice.paymentStatus == 'installment' || invoice.currentAppStatus === true)" >
		<label class="col-md-6" >Tax % </label>
		<div class="col-md-6 form-group classlearfix mr-0" >
			<input  type="text"  class="form-control" numbers-only   ng-model="invoice.tax"  id="tax" value="tax" ng-keyup="vm.calculateTaxDiscount(invoice)">

		</div>
	</div>


	<div class="form-group clearfix"  ng-hide="(invoice.paymentStatus == 'installment' || invoice.currentAppStatus === true)  ">
		<label class="col-md-6" >Discount % </label>
		<div class="col-md-6 form-group classlearfix mr-0" >
			<input  type="text"  class="form-control"  numbers-only  ng-model="invoice.discount"  id="discount" value="discount" ng-keyup="vm.calculateTaxDiscount(invoice)">

		</div>
	</div>

	<div class="form-group clearfix" ng-hide="(invoice.paymentStatus == 'installment' || invoice.currentAppStatus === true)  ">
		<label class="col-md-6" >Total </label>
		<div class="col-md-6 form-group classlearfix mr-0" >
			<input  type="text"  class="form-control"   ng-model="invoice.amount"  id="totalamount" value="totalamount" ng-keyup="vm.calculateTaxDiscount(invoice)" readonly>

		</div>
	</div>

	<div class="form-group clearfix" ng-hide="invoice.previousAppPaymentCheck || invoice.currentAppStatus">
		<label class="col-md-6" >Payment </label>
		<div class="col-md-6 form-group classlearfix mr-0" >
			<input  type="text"  class="form-control"   ng-model="invoice.payment"  id="payment" value="payment" ng-keyup="vm.calculateTaxDiscount(invoice)">

		</div>
	</div>

	<div ng-if="invoice.paymentStatus != 'paid'" class="form-group clearfix" >
		<label class="col-md-6" >Balance Amount </label>
		<div class="col-md-6 form-group classlearfix mr-0" >
			<input  type="text"  class="form-control"  ng-model="invoice.balanceAmount"  id="balanceAmount" value="balanceAmount" readonly>

		</div>
	</div>
</div>

<div class="col-md-9">
	<div ng-hide="invoice.paid || invoiceEdited" class="form-group clearfix">
		<label class="control-label col-md-6 col-sm-6">Payment type</label>
		<div class="col-md-6 col-sm-6">
			<input type="radio"  ng-model="invoice.paymentType"   id="NETS" value="NETS">
			<label for="NETS"><span><span></span></span>NETS</label>
			<input type="radio"  ng-model="invoice.paymentType"  id="credit card" value="credit card">
			<label for="credit card"><span><span></span></span>Credit Card</label>
			<input type="radio"  ng-model="invoice.paymentType"   id="cash" value="cash">
			<label for="cash"><span><span></span></span>Cash</label>
		</div>

	</div>
	<!-- worked on nov 30 Nishant -->
	<div ng-show="invoice.paid && invoice.previousAppPaymentCheck && !invoiceEdited"  class="form-group clearfix">
		<label class="control-label col-md-6 col-sm-6">Payment type</label>
		<div class="col-md-6 col-sm-6">
			<input type="radio"  ng-model="invoice.paymentType"   id="NETS" value="NETS">
			<label for="NETS"><span><span></span></span>NETS</label>
			<input type="radio"  ng-model="invoice.paymentType"  id="credit card" value="credit card">
			<label for="credit card"><span><span></span></span>Credit Card</label>
			<input type="radio"  ng-model="invoice.paymentType"   id="cash" value="cash">
			<label for="cash"><span><span></span></span>Cash</label>
		</div>

	</div>
</div>













</div>
<div class="col-md-12 clearfix align-left">
	<input type="checkbox"    ng-click="invoice.additionalShow = !invoice.additionalShow" ng-model="invoice.additionalCheckShow" id="additional" value="additional"><label   for="additional"><span><span></span></span>Additional Items
</label>

<div class="form-group userfontawsme clearfix" ng-if="invoice.additionalShow">
	<form name="additionalElementForm"  novalidate >
		<div class="form-group clearfix">
			<div ng-repeat="contact in additionalElementsArray track by $index" class="admin-spl col-md-6 clearfix">
				<div class="mrb-15 clearfix">
					<label class="col-md-4 col-sm-4"> Name:</label>
					<div class="col-md-8 col-sm-8">
						<input type="text" ng-model="contact.name" class="form-control" later-name="name{{$index}}" required />
						<span class="mandatory" ng-if="(additionalElementForm.$submitted || additionalElementForm['name'+$index].$touched) && additionalElementForm['name'+$index].$invalid">Name is required</span>
					</div>
				</div>
				<div class="mrb-15 clearfix">
					<label class="col-md-4 col-sm-4"> Amount:</label>
					<div class="col-md-8 col-sm-8">
						<input type="text" numbers-only ng-model="contact.amount" class="form-control" later-name="amount{{$index}}" required />
						<span class="mandatory" ng-if="(additionalElementForm.$submitted || additionalElementForm['amount'+$index].$touched) && additionalElementForm['amount'+$index].$invalid">Amount is required</span>
					</div>
				</div>

				<span class="sub-del ng-scope" ng-if="$index != 0" ng-click="delRow($index)">
					<i class="fa fa-times" aria-hidden="true"></i>
				</span>
			</div>
		</div>
		<div class="col-md-9">
			<button type="button" ng-click="addRow()" class="btn btn-success btn-style pull-right">
				<i class="fa fa-plus" aria-hidden="true"></i>
			</button>
		</div>
		<button class="btn btn-primary btn-style pull-left" ng-click="addElements(additionalElementsArray)"><i class="fa fa-floppy-o" aria-hidden="true"></i> </button>


	</form>
</div>
</div>
<div class="col-md-12 button-section align-right">
<input type="button" ng-if="invoice.installment || invoice.unpaid || (invoice.previousAppointmentBalanceAmount != null && invoice.previousAppointmentBalanceAmount != 0 && invoice.previousAppPaymentCheck) || (invoice.previousAppointmentBalanceAmount != null && invoice.previousAppointmentBalanceAmount != 0 && invoice.previousAppPaymentCheck && invoice.paid) " ng-hide="invoiceEdited" ng-click="vm.updateSpecificInvoice(invoice,invoiceForm)" class="btn btn-primary" ng-disabled="!invoice.paymentType" name="Save" value="Pay">
<input type="button" ng-show="invoiceEdited" ng-click="vm.changeSpecificInvoice(invoice,invoiceForm,false)" class="btn btn-primary"  name="Save" value="Save">
	<a class="btn btn-default " ng-if="invoice.installment || invoice.unpaid " ui-sref="invoice">Cancel</a>
	<a class="btn btn-default " ng-if="invoice.paid" ui-sref="invoice">Back</a>
</div>
</div>

</div>
</form>
</div>







<div ng-show="printView" class="panel">
	<form name="invoiceForm" >
		<div class="panel-heading clearfix">
			<h4 class="pull-left">Print Confirmation</h4>
		</div>
	<!-- 	{{obj}} -->

<div class="container" id="printSectionId">
    <div class="row">
        <div class="well" style="padding: 30px 50px;background: #fff;">
            <div class="row">


                 <div style="border-bottom: 2px solid #000;padding: 0px 0px 10px 0px;margin-bottom: 20px;width: 100%;clear: both;display: block;float: left;">
                    <address>
                   <div style="float: left;width: 11%;margin-right: 20px;">
                   	<img src="{{obj.Clinic.thumbImage}}{{obj.Clinic.image}}">
                   </div>
                   <div style="float: left;width: 70%;">
                   	<div class="clearfix">
                   		<strong>{{obj.Clinic.username}}</strong>
                   	</div>
                   	<div style="float: left;width: 50%;">
                   		<p>{{obj.Clinic.area}}</p>

                        <p>{{obj.Clinic.address}}</p>

                        <p>{{obj.Clinic.city}}</p>

                        <p>Phone: {{obj.Clinic.mobile}}</p>
                   	</div>

                       <!-- <div style="float: right;width: 50%;">
                       	<span title="Phone">Phone:</span> {{obj.Clinic.mobile}}
                       </div> -->

                   </div>



                    </address>
                </div>
                <br>
                 <div style="width: 100%;display: block;border-bottom: 1px solid #000;float: left;margin-bottom: 20px;">
                      <p> {{obj.Patient.firstName + ' ' + obj.Patient.lastName}}</p>
                        <p><strong>NRIC:</strong>  {{obj.Patient.nric}}</p>
                </div>
                <div style="width: 100%;display: block;float: left;">
                 <div style="float: left;width: 70%;">
                    <address>
                        <strong>By:</strong>{{obj.Doctor.firstName + ' ' + obj.Doctor.lastName}}

                    </address>
                </div>

                <div style="float: right;width: 30%;">
                    <p>
                        <em>Date: {{obj.Invoice.invoiceDate}}</em>
                    </p>
                    <p>
                        <em>Receipt #: {{obj.Invoice.invoiceId}}</em>
                    </p>
                </div>
                </div>
              <!--   <h4 style="margin:15px 0;text-align:left;font-weight:600;font-size: 16px; ">RECEIPT:</h4>
			<p style="margin:25px 0;text-align:left" >Recieved with thanks, amount of {{obj.Invoice.payment}}&nbsp;SGD towards the following:</p> -->
            </div>
            <div class="row">
                 <table class="table table-hover" style="border: 1px solid #ccc;">
                    <thead>
                        <tr>
                            <th style="padding: 20px 10px;">#</th>
                            <th style="padding: 20px 10px;">Treatments & Products</th>
                            <th style="padding: 20px 10px;">Unit Cost SGD</th>
                            <th style="padding: 20px 10px;">Qty</th>
                            <th style="padding: 20px 10px;" class="text-right">Total Cost SGD</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-if="vm.serviceList != null" ng-repeat="x in vm.serviceList track by $index">
								<td ">{{$index + 1}}</td>
									<td >{{x.name}} <b>(Service)</b></td>
									<td ></td>
									<td ></td>
									<td class="text-right" style="text-align: right;">{{x.cost}}</td>

								</tr>
								<tr ng-if="vm.prescriptionList != null" ng-repeat="x in vm.prescriptionList track by $index">
									<td >{{vm.serviceList.length + ($index + 1)}}</td>
									<td ng-if="x.drugName" >{{x.drugName.productName}} <b>(Drug)</b></td>
									<td ng-if="x.drugName" >{{x.drugName.sellingPrice}}</td>
									<td ng-if="x.drugName" >{{x.qty}}</td>
									<td ng-if="x.drugName" style="text-align: right;" >{{x.drugName.sellingPrice * x.qty}}</td>

									<td ng-if="x.productName" >{{x.productName.productName}} <b>(Others)</b></td>
									<td ng-if="x.productName" >{{x.productName.sellingPrice}}</td>
									<td ng-if="x.productName" >{{x.qty}}</td>
									<td ng-if="x.productName" style="text-align: right;">{{x.productName.sellingPrice * x.qty}}</td>

									<td ng-if="x.billingItem" >{{x.billingItem}} </td>
									<td ng-if="x.billingItem" ></td>
									<td ng-if="x.billingItem" ></td>
									<td ng-if="x.billingItem" style="text-align: right;">{{x.amount}}</td>

								</tr>
								<tr ng-if="vm.additionalItemList != null" ng-repeat="x in vm.additionalItemList track by $index">
								<td >{{vm.serviceList.length +vm.prescriptionList.length + ($index + 1)}}</td>
									<td  >{{x.name}} <b>(Additional Items)</b></td>
									<td ></td>
									<td ></td>
									<td  class="text-right" style="text-align: right;">{{x.amount}}</td>

									<!-- <td width="25%" valign="top" style="text-align:center;padding:2px;">{{obj.amount}}</td> -->
								</tr>
                        <tr>

                            <td colspan="4" class="text-right" style="text-align: right;">
                            <p>
                                <strong>SubTotal: </strong>
                            </p>
                            <p ng-if="obj.Invoice.tax != null && obj.Invoice.tax != ''">
                                <strong>Tax: </strong>
                            </p>
                            <p ng-if="obj.Invoice.discount != null && obj.Invoice.discount != ''">
                                <strong>Discount: </strong>
                            </p></td>
                            <td class="text-right" colspan="1" style="text-align: right;">
                            <p>
                                <strong>{{obj.Invoice.amount}}&nbsp;SGD</strong>
                            </p>
                            <p ng-if="obj.Invoice.tax != null && obj.Invoice.tax != ''">
                                <strong>{{obj.Invoice.tax}} %</strong>
                            </p>
                            <p ng-if="obj.Invoice.discount != null && obj.Invoice.discount != ''">
                                <strong>{{obj.Invoice.discount}} %</strong>
                            </p></td>
                        </tr>
                        <tr>

                            <td class="text-right" colspan="4" style="text-align: right;" ><strong>Total: </strong></td>
                            <td ng-if="obj.Invoice.total == 0" class="text-right text-danger" style="text-align: right;" colspan="1" ><h4><strong>{{vm.taxCal(obj.Invoice)}}&nbsp;SGD</strong></h4></td>
                            <td ng-if="obj.Invoice.total != 0" class="text-right text-danger" style="text-align: right;" colspan="1" ><h4><strong>{{obj.Invoice.total}}&nbsp;SGD</strong></h4></td>
                            <!-- vm.taxCal(obj.Invoice) -->
                           <!--  <td class="text-right" style="text-align: right;" colspan="3" ng-if="!obj.Invoice.appointmentBalanceAmount"><h4><strong>Total: </strong></td>
                            <td class="text-right text-danger" colspan="2" style="text-align: right;" ng-if="!obj.Invoice.appointmentBalanceAmount"><strong>{{vm.taxCalc(obj.Invoice)}}&nbsp;SGD</strong></td> -->
                            </tr>
                            <tr>
                            	 <td class="text-right" colspan="4" style="text-align: right;" ><strong>Amount recieved on {{obj.Invoice.paidDate}}:</strong>
                            	 </td>
                            	 <td colspan="1" class="text-right text-danger" style="text-align: right;"><strong>{{obj.Invoice.payment}}&nbsp;SGD</strong></td>
                            	 &nbsp;
                            </tr>
                            <tr>
                            <td class="text-right"  colspan="4" style="text-align: right;" ng-if="obj.Invoice.appointmentBalanceAmount"><strong>Balance Amount: </strong></td>
                            <td class="text-right text-danger" colspan="1" style="text-align: right;" ng-if="obj.Invoice.appointmentBalanceAmount"><strong>{{vm.addAmounts(obj.Invoice.pendingAmount , obj.Invoice.appointmentBalanceAmount)}}&nbsp;SGD</strong></td>
                            </tr>

                             <tr>
                             	<td colspan="4" class="text-right" style="text-align: right;" ng-if="!obj.Invoice.appointmentBalanceAmount"><strong>Balance Amount: </strong></td>
                            	<td colspan="1" class="text-right text-danger" ng-if="!obj.Invoice.appointmentBalanceAmount" style="text-align: right;"><strong>{{obj.Invoice.pendingAmount}}&nbsp;SGD</strong></td>
                             </tr>
                          

                             <tr>
                             	 <td class="text-right" colspan="5" style="text-align: left;"><strong>Mode of Payment :&nbsp; {{obj.Invoice.paymentType}}</strong></td>



                       <!--  <tr>
                        	 <td class="text-right" colspan="5" style="text-align: left;"><strong>Amount Due as of {{date | date:'MMM d, y'}} is &nbsp;{{obj.Invoice.pendingAmount}}&nbsp;SGD</strong></td>
                        </tr> -->
                        <tr>
                        <td style="text-align: center;" colspan="5">
								<p style="margin:0px;">If you have any questions about this invoice</p>
								<p style="margin:0px;">{{obj.Clinic.firstName}},{{obj.Clinic.address}},{{obj.Clinic.city}}</p>
								<p style="margin:0px;">phone:{{obj.Clinic.mobile}},Email:{{obj.Clinic.email}}</p>
								<h4 style="margin:10px 0 30px 0;font-weight:bold;">Thank You For Your Business!</h4>
								</td>
						</tr>
                    </tbody>
                </table>
              </td>
            </div>
        </div>
    </div>
				<div class="pull-right mrt-15">
				<button class="btn btn-primary" id="back-print" ui-sref="invoice">Back</button>
				</div>
				<div class="pull-left">
				<button class="btn btn-default" id="printbill" ng-click="printToCart('printSectionId')">Print</button>
			</div>
			</form>
			<div ng-class="{'loader': invoicePdfLoader == true}">
				<div class="overlay-bg"></div>
				<div class="loading-bg"></div>
			</div>
		</div>
		<style>
		@media print {
			@page { margin: 0; }
			#printbill, #back-print, #sidebar-wrapper, .main-head, .panel-heading, #toast-container{
				display: none;
			}
			#wrapper{
				padding: 0;
			}
		}
		</style>
