<div class="panel inventory-pg" ng-hide="tableView">
	<div class="panel-heading clearfix" >
		<h3 class="pull-left">Invoice</h3>
		<a ng-click="vm.getPatients();vm.addPop()" type="button" class="btn btn-default pull-right">Add</a>
		<!-- <a class="btn btn-primary pull-right" href="#/addInvoice">Add</a> -->
	</div>
	<div class="panel-body">
		<div class="col-md-12 sorting-tab padding-zro align-right">
			<!-- <div class="filter-box clearfix mrl-0 pull-left">
				<label>Search</label>
				<input type="text" ng-keyup="keyup(vm.items)" ng-model="search">
			</div> -->
			<div class="sort-date-picker">
				<div class="form-group clearfix ">
					<label>From</label>
					<div class="input-group date">
						<input
						type="text"
						class="form-control"
						readonly
						uib-datepicker-popup="yyyy-MM-dd"
						ng-model="vm.invoice.fromDate"
						is-open="openDatePickers[0]"
						close-text="Close">
					  <span class="input-group-btn">
						<button
						  type="button"
						  class="btn btn-primary"
						  ng-click="open($event, 0)">
						 <i class="fa fa-calendar" aria-hidden="true"></i>
						</button>
						</span>
					</div>
				</div>
				<div class=" form-group clearfix">
					<label>To</label>
					<div class="input-group date">
						 <input
						type="text"
						class="form-control"
						readonly
						uib-datepicker-popup="yyyy-MM-dd"
						ng-model="vm.invoice.toDate"
						is-open="openDatePicker[0]"
						close-text="Close">
					  <span class="input-group-btn">
						<button
						  type="button"
						  class="btn btn-primary"
						  ng-click="openTo($event, 0)">
						  <i class="fa fa-calendar" aria-hidden="true"></i>
						</button>
					  </span>
					</div>
				</div>
				<button class="btn btn-primary pull-right search-btn" ng-disabled="vm.resetEnable" ng-click="vm.getInvoice();vm.invoice.fromDate = '';vm.invoice.toDate = ''">Reset</button>
				<button class="btn btn-primary pull-right search-btn" ng-click="vm.searchFilter()"> Search</button>
			</div>
		</div>
		<div class="table-responsive">
			<table datatable="ng" class="table table-bordered in-list-tab table-striped">
			<thead>
				<tr>
					<th>S.No</th>
					<th>Date</th>
					<th>Patient Name</th>
					<th>Consultant Doctor</th>
					<th>Description</th>
					<th>Total Amount</th>
					<th>Pending Amount</th>
					<th>Payment Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr  ng-if="vm.invoiceDatas"  ng-repeat="x in vm.invoiceDatas">
					<td>{{$index+1}}</td>
					<td>{{x.invoiceDate}}</td>
					<td><p>{{x.patient.username}}</p></td>
					<td><p><div ng-if="value.clinicId == vm.clinicId" ng-repeat="(key,value) in x.doctor.colorCode"><span class="doc-color" ng-style="{'background-color': value.colorCode}"></span></div>{{x.doctor.username}}</p></td>
					<td><p>{{x.description}}</p></td>
					<td><span class="dollar">$</span> {{x.amount}}</td>
					<td ng-if="!x.appointmentBalanceAmount"><span class="dollar">$</span>  {{x.pendingAmount}}</td>
					<td ng-if="x.appointmentBalanceAmount"><span class="dollar">$</span>  {{vm.addAmounts(x.pendingAmount , x.appointmentBalanceAmount)}}</td>
					<td><label class="txt-bg " ng-class="{'success': x.paymentStatus == 'paid', 'primary': x.paymentStatus == 'installment', 'danger' :x.paymentStatus == 'unpaid' }">{{x.paymentStatus}}</label></td>
					<td class="action-blk">
					<span ng-if="!x.billStatus" class="action-icon">
					<a class="fa fa-edit"  ui-sref="editSpecificInvoice({id:x.id})"  aria-hidden="true" ></a>
					</span>
					<span  class="action-icon">
					    <a class="fa fa-print" ng-click="vm.print(x)" aria-hidden="true" ></a>
					</span>
					<span ng-show="x.paymentStatus == 'unpaid'" class="action-icon">
					<a class="fa fa-trash"  ng-click="confirmClick() && vm.deleteInvoice(x.id)" confirm-click  aria-hidden="true" ></a>
					</span>
					</td>
				</tr>
				<!-- <tr ng-if="vm.invoiceDatas == ''">
					<td colspan="9">No datas found</td>
				</tr> -->
			</tbody>
		</table>

		</div>
		<!-- <ul uib-pagination total-items="vm.totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul> -->
	</div>
</div>

<div ng-class="{'loader': practysLoader == true}">
<div class="overlay-bg"></div>
<div class="loading-bg"></div>
</div>
  <script type="text/ng-template" id="firstDialogId">
  	<div class="ngdialog-message popup-bg col-md-12 credit-crd" >
        <form novalidate name="invoiceForm" ng-submit="vm.createInvoice(invoiceForm)" class="popup-form">
				<h4 class="ct-tit">Add Invoice</h4>
	 			<div class="ct-popup">
					<div class="panel-height">
						<div class="form-group userfontawsme clearfix">
							<label class="col-md-6 col-sm-6">Patient Name </label>
								<div class="col-md-6 col-sm-6">
									<div class="custom-select" custom-select="g as g.username for g in patients | filter: $searchTerm " custom-select-options="patientSelection" ng-model="vm.invoice.patient" name="patient" ng-required="true">
									</div>
									<div class="mandatory" ng-show="(invoiceForm.patient.$touched || invoiceForm.$submitted) && invoiceForm.patient.$invalid">Patient Name is required
									</div>
								</div>
		  				</div>
			    		<div class="form-group clearfix">
							<label class="control-label col-md-6 col-sm-6">Date</label>
								<div class="col-md-6 col-sm-6">
									<div class="input-group date">
										<input
											type="text"
											class="form-control"
											readonly
											uib-datepicker-popup="yyyy-MM-dd"
											ng-model="vm.invoice.invoiceDate"
											is-open="openDatePickers[0]"
											close-text="Close" name="date" ng-required="true">
					  					<span class="input-group-btn">
											<button
												  type="button"
												  class="btn btn-primary"
												  ng-click="open($event, 0)">
												  <i class="fa fa-calendar" aria-hidden="true"></i>
											</button>
					  					</span>
			          				</div>
			          				<span class="mandatory" ng-show="invoiceForm.date.$invalid && (invoiceForm.$submitted || invoiceForm.date.$touched)" > Date is required
			          				</span>
								</div>
						</div>
						<div class="form-group userfontawsme clearfix">
							<label class="col-md-6 col-sm-6">Consultant Doctor</label>
								<div class="col-md-6 col-sm-6">
									<div custom-select="g as g.username for g in doctors | filter: $searchTerm" custom-select-options="doctorSelection" ng-model="vm.invoice.doctor" name="doctor" ng-required="true">
									</div>
									<div class="mandatory" ng-show="(invoiceForm.doctor.$touched || invoiceForm.$submitted) && invoiceForm.doctor.$invalid">Doctor is required
									</div>
								</div>
		  				</div>
						<div class="form-group clearfix">
							<label class="control-label col-md-6 col-sm-6">Description</label>
								<div class="col-md-6 col-sm-6">
									<input type="text" value="" name="description" class="form-control" ng-model="vm.invoice.description">
								</div>
						</div>
					<div class="form-group clearfix">
						<label class="control-label col-md-6 col-sm-6">Billing Items</label>
							<div class="col-md-6 col-sm-6 " >
								<div ng-repeat="list in vm.billingItem  track by $index" class="pdb10 clearfix">
									<div class="col-md-7 col-sm-7 pad-left">
										<input type="text" placeholder="Name"  name="amount" class="form-control" ng-model="list.billingItem" ng-required="true">
									</div>
									<div class="col-md-4 col-sm-4 pad-left">
										<input type="text" numbers-only  placeholder="Price"  name="amount" class="form-control" ng-model="list.amount" ng-change ='vm.addInvoiceCalc(vm.invoice)' ng-required="true">
									</div>
									<div class="col-md-1 col-sm-1 pd0 invoice-plus" ng-if="$index == 0">
									<!-- (vm.billingItem.length - 1) -->
										<a class=""  ng-click="vm.addBillingList();vm.addInvoiceCalc(vm.invoice)">+</a>
									</div>
									<div class="col-md-1 col-sm-1 pd0 invoice-plus" ng-if="$index != 0">
										<a class=""  ng-click="vm.removingBillingList($index);vm.addInvoiceCalc(vm.invoice)">-</a>
									</div>
								</div>
							<!-- <span class="mandatory" ng-show="invoiceForm.discount.$invalid && (invoiceForm.$submitted || invoiceForm.discount.$touched)" > Enter an Discount</span> -->
							</div>
					</div>
					<div class="form-group col-md-12">
						<input type="checkbox"  ng-click="vm.drugShow = !vm.drugShow" ng-change ='vm.addInvoiceCalc(vm.invoice)' id="drug" value="drug" ng-model="vm.invoice.drugShowModel" name="drug">
						<label for="drug"><span><span></span></span> Drug</label>
						<input type="checkbox" ng-model="vm.invoice.otherShowModel" ng-change ='vm.addInvoiceCalc(vm.invoice)'  ng-click="vm.otherShow = !vm.otherShow" id="others" value="others" name="others">
						<label for="others"><span><span></span></span> Others</label>
					</div>
					<div class="form-group col-md-12 clearfix" ng-if="vm.drugShow">
			  			<label class="col-md-3">Drugs:</label>
	          				<div  class=" col-md-9 clearfix">
								<div class="admin-spl" ng-repeat="suggest in vm.drugSuggest track by $index">
					               	<div class="mrb-15 clearfix">
					                	<label class="col-md-4 col-sm-4">Name:</label>
					                 	<div class="col-md-8 col-sm-8">
					                 		<select class="form-control" name="drug"  ng-model="suggest.drugName"  ng-options="x.productName for x in vm.drugs" ng-change="drugsSelect(suggest.drugName, $index);vm.addInvoiceCalc(vm.invoice)">
					                    		<option value="">~~Select Drug~~</option>
											</select>
					                  	</div>
					                </div>
	                 				<div class="mrb-15 clearfix">
	                  					<label class="col-md-4 col-sm-4"> Qty:</label>
	                    					<div class="col-md-8 col-sm-8">
	                    						<input type="text" numbers-only ng-change ='vm.addInvoiceCalc(vm.invoice)' ng-model="suggest.qty" class="form-control" later-name="qty{{$index}}"  />
	                      						<span class="mandatory" ng-if="(invoiceForm.$submitted || invoiceForm['qty'+$index].$touched) && invoiceForm['qty'+$index].$invalid">Qty is required</span>
	                     					</div>
	                    			</div>
	                     			<div class="mrb-15 clearfix">
	                     				<label class="col-md-4 col-sm-4"> Notes:</label>
	                       					<div class="col-md-8 col-sm-8">
	                        					<textarea ng-model="suggest.note" class="form-control" ></textarea>
	                         				</div>
	                        		</div>
	                        		<span class="sub-del ng-scope" ng-if="vm.drugSuggest.length -1 != $index" ng-click="vm.delDrugsRow($index)">
										<i class="fa fa-times" aria-hidden="true">
										</i>
									</span>
	                    		</div>
							</div>
	                	</div>
						<div class="col-md-11 append-btn"  ng-if="vm.drugShow">
	                    	<button type="button" ng-click="vm.addDrugsRow()" class="btn btn-success btn-style pull-right">
	                    		<i class="fa fa-plus" aria-hidden="true"></i>
	                   		</button>
	                	</div>
						<div class="form-group col-md-12 clearfix" ng-if="vm.otherShow">
							<label class="col-md-3">Others:</label>
								<div class="col-md-9">
									<div ng-repeat="suggest in vm.productSuggest track by $index" class="admin-spl clearfix">
										<div class="mrb-15 clearfix">
											<label class="col-md-4 col-sm-4">Name:</label>
												<div class="col-md-8 col-sm-8">
													<select class="form-control" name="product"  ng-model="suggest.productName"  ng-options="x.productName for x in vm.others" ng-change="otherProductChanges(suggest.productName, $index);vm.addInvoiceCalc(vm.invoice)">
														<option value="">~~Select Product~~</option>
													</select>
													<span class="mandatory" ng-if="(invoiceForm.$submitted || invoiceForm['product'+$index].$touched) && invoiceForm['product'+$index].$invalid">Product is required
													</span>
												</div>
										</div>
										<div class="mrb-15 clearfix">
											<label class="col-md-4 col-sm-4"> Qty:</label>
												<div class="col-md-8 col-sm-8">
													<input type="text" numbers-only ng-model="suggest.qty" ng-change ='vm.addInvoiceCalc(vm.invoice)' class="form-control" later-name="prodQty{{$index}}"  />
													<span class="mandatory" ng-if="(invoiceForm.$submitted || invoiceForm['prodQty'+$index].$touched) && invoiceForm['prodQty'+$index].$invalid">Qty is required
													</span>
												</div>
										</div>
										<div class="mrb-15 clearfix">
											<label class="col-md-4 col-sm-4"> Usage:</label>
												<div class="col-md-8 col-sm-8">
													<input type="text"  ng-model="suggest.usage" class="form-control" later-name="prodUsage{{$index}}"  />
												</div>
										</div>
										<span class="sub-del ng-scope" ng-if="vm.productSuggest.length -1 != $index" ng-click="vm.delProdRow($index)">
											<i class="fa fa-times" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-11 append-btn" ng-if="vm.otherShow">
								<button type="button" ng-click="vm.addProdRow()" class="btn btn-success btn-style pull-right">
									<i class="fa fa-plus" aria-hidden="true"></i>
								</button>
							</div>
							<div class="form-group clearfix">
						 		<label class="control-label col-md-6 col-sm-6">Tax %</label>
						 			<div class="col-md-6 col-sm-6">
						 				<input type="text" numbers-only  ng-change="vm.addInvoiceCalc(vm.invoice)" name="amount" class="form-control"  ng-model="vm.invoice.tax">
						 			</div>
						 	</div>
						 	<div class="form-group clearfix">
						 		<label class="control-label col-md-6 col-sm-6">Discount %</label>
						 			<div class="col-md-6 col-sm-6">
						 				<input type="text" numbers-only  ng-change="vm.addInvoiceCalc(vm.invoice)" name="amount" class="form-control"  ng-model="vm.invoice.discount">
						 			</div>
						 	</div>
							
							<div class="form-group clearfix">
						 		<label class="control-label col-md-6 col-sm-6">Total Amount</label>
						 			<div class="col-md-6 col-sm-6">
						 				<input type="text" numbers-only name="amount" class="form-control" ng-model="vm.invoice.totalAmount"  readonly>
						 			</div>
						 	</div>

					</div>
				<div class="col-md-12 button-section align-right">
					<input type="submit" class="btn btn-primary" name="Save" value="Save">
					<a class="btn btn-default " ng-click="cancel()">Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</script>

  <script type="text/ng-template" id="editPopUp">
        <div class="ngdialog-message popup-bg col-md-12 credit-crd" >
  <form novalidate name="invoiceForm" ng-submit="vm.updateInvoice(invoice,invoiceForm)">

		<h4 class="ct-tit">Edit Invoice</h4>
		<div class="ct-popup">
		<div class="panel-height">
			<div class="form-group userfontawsme clearfix">
				<label class="col-md-6 col-sm-6">Patient Name </label>
				<div class="col-md-6 col-sm-6">
				 	<div class="custom-select" custom-select="g as g.username for g in vm.patients | filter: $searchTerm" custom-select-options="patientSelection" ng-model="invoice.patient" name="patient" required disabled="disabled"></div>
					<div ng-show="(invoiceForm.patient.$touched || invoiceForm.$submitted) && invoiceForm.patient.$invalid">
						patient required
					</div>
		  		</div>
			</div>
		    <div class="form-group clearfix">
				<label class="control-label col-md-6 col-sm-6">Date</label>
				<div class="col-md-6 col-sm-6">
					<!-- <div class="input-group date"> -->
					<input
					type="text"
					class="form-control"
					uib-datepicker-popup="yyyy-MM-dd"
					ng-model="invoice.invoiceDate"
					name="date" disabled>
				 <!--  <span class="input-group-btn">
					<button
					  type="button"
					  class="btn btn-primary"
					  ng-click="open($event, 0)">
					  <i class="fa fa-calendar" aria-hidden="true"></i>
					</button>
				  </span> -->
		          <!-- </div> -->
				</div>
			</div>
			<div class="form-group userfontawsme clearfix">
				<label class="col-md-6 col-sm-6">Consultant Doctor</label>
				<div class="col-md-6 col-sm-6"><div custom-select="g as g.username for g in vm.doctors | filter: $searchTerm" custom-select-options="doctorSelection"
				ng-model="invoice.doctor" name="doctor" required disabled="disabled"></div>
				<div ng-show="(invoiceForm.doctor.$touched || invoiceForm.$submitted) && invoiceForm.doctor.$invalid">
					Doctor is required
				</div>

		  		</div>
		  	</div>
		  	<input type="checkbox"  ng-if="invoice.unpaid"   ng-click="invoice.additionalShow = !invoice.additionalShow" ng-model="invoice.additionalCheckShow" id="additional" value="additional"><label ng-if="invoice.unpaid"  for="additional"><span><span></span></span>Addition Elements
					  </label>
					  <div class="form-group userfontawsme clearfix" ng-if="invoice.additionalShow">
					   <form name="additionalElementForm"  novalidate >
                       <div class="form-group clearfix">
                    <div ng-repeat="contact in additionalElementsArray track by $index" class="admin-spl col-md-6 clearfix">
                        <div class="mrb-15 clearfix">
                            <label class="col-md-4 col-sm-4"> Name:</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" ng-model="contact.name" class="form-control" later-name="name{{$index}}" required />
                                <span class="mandatory" ng-if="(additionalElementForm.$submitted || additionalElementForm['name'+$index].$touched) && additionalElementForm['name'+$index].$invalid">Name is required</span>
                            </div>
                        </div>
                        <div class="mrb-15 clearfix">
                            <label class="col-md-4 col-sm-4"> Amount:</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" numbers-only ng-model="contact.amount" class="form-control" later-name="amount{{$index}}" required />
                                <span class="mandatory" ng-if="(additionalElementForm.$submitted || additionalElementForm['amount'+$index].$touched) && additionalElementForm['amount'+$index].$invalid">Amount is required</span>
                            </div>
                        </div>

                        <span class="sub-del ng-scope" ng-if="$index != 0" ng-click="delRow($index)">
							<i class="fa fa-times" aria-hidden="true"></i>
						</span>
                    </div>
                </div>
                <div class="col-md-9">
                    <button type="button" ng-click="addRow()" class="btn btn-success btn-style pull-right">
                    	<i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
                <input type="button"  class="btn btn-primary btn-style pull-left" ng-click="addElements(additionalElementsArray)" value ="Save">

        	</form>
					  </div>
					  <table>
					  <tr>
					  <th>Name</th>
					  <th>Amount</th>
					  </tr>
					  <tr ng-if="invoice.serviceDetails != ''" ng-repeat = "x in invoice.serviceDetails track by $index">
						 <td>
							<div ng-if="invoice.checked || invoice.installment">
							  <input ng-if= "x.productPaymentStatus != 'true'" type="checkbox" ng-click="vm.balanceDeduction(x.cost,invoice.checkService[$index])" id="serviceCheck" value="serviceCheck" ng-model="invoice.checkService[$index]"><label for="serviceCheck"><span><span></span></span>
							</div>
							{{x.name}}<b>(Service)</b>
						</td>
						<td>
						  <input type="text" name="serviceCost" ng-disabled="!clickEnable[$index]" value="{{x.cost}}" ng-model="x.cost">
						  <span class="action-icon" ><a class="fa fa-edit"
						  ng-click="clickEnable[$index] = true"  aria-hidden="true" ></a></span>
						  <span class="action-icon"><a class="btn btn-primary"
						 ng-if= "x.productPaymentStatus != 'true'" ng-click="vm.saveServiceCashChange($index,'service',x.cost)" aria-hidden="true" >save</a></span>
						</td>
					  </tr>
					  <tr ng-if="invoice.prescriptionDetails != ''" ng-repeat = "x in invoice.prescriptionDetails track by $index">
						<td ng-if="x.drugName">
							<div ng-if="invoice.checked || invoice.installment">
							<input ng-if= "x.productPaymentStatus != 'true'" type="checkbox" ng-click="vm.balanceDeduction(x.drugName.sellingPrice,invoice.checkProduct[$index])" id="productCheck" value="productCheck" ng-model="invoice.checkProduct[$index]"><label for="productCheck"><span><span></span></span>
							</div>
						{{x.drugName.productName}}<b>(Drug)</b>
						</td>
						<td ng-if="x.drugName">
							<input type="text" name="productCost" ng-disabled="!clicksEnable[$index]" value="{{x.drugName.sellingPrice}}" ng-model="x.drugName.sellingPrice">
							<span class="action-icon"><a class="fa fa-edit" ng-click="clicksEnable[$index] = true"  aria-hidden="true" ></a></span>
							<span class="action-icon"><a class="btn btn-primary" ng-if= "x.productPaymentStatus != 'true'" ng-click="vm.saveServiceCashChange($index,'product',x.drugName.sellingPrice)" aria-hidden="true" >save</a></span>
						</td>
						<td ng-if="x.productName">
						<div ng-if="invoice.checked || invoice.installment">
						<input ng-if= "x.productPaymentStatus != 'true'" type="checkbox" ng-click="vm.balanceDeduction(x.productName.sellingPrice,invoice.checkProduct[$index])" id="productCheck" value="productCheck" ng-model="invoice.checkProduct[$index]"><label for="productCheck"><span><span></span></span>
						</div>
						{{x.productName.productName}}<b>(Others)</b>
						</td>
						<td ng-if="x.productName">
							<input type="text" name="productCost" ng-disabled="!clicksEnable[$index]" value="{{x.productName.sellingPrice}}" ng-model="x.productName.sellingPrice">
							<span class="action-icon"><a class="fa fa-edit" ng-click="clicksEnable[$index] = true"  aria-hidden="true" ></a></span>
							<span class="action-icon"><a class="btn btn-primary" ng-if= "x.productPaymentStatus != 'true'" ng-click="vm.saveServiceCashChange($index,'product',x.productName.sellingPrice)" aria-hidden="true" >save</a></span>
						</td>
					  </tr>
					  <tr ng-if="additionalInTable != ''" ng-repeat="add in additionalInTable track by $index">
					  <td>
					  <div ng-if="invoice.checked || invoice.installment">
						<input ng-if= "add.productPaymentStatus != 'true'" type="checkbox" ng-click="vm.balanceDeduction(add.amount,invoice.checkAdditionalStatus[$index])" id="additionalCheck" value="additionalCheck" ng-model="invoice.checkAdditionalStatus[$index]"><label for="additionalCheck"><span><span></span></span>
						</div>{{add.name}}<b>(Additional)</b>
					  </td>
					  <td>
					  <input type="text" name="additionalCost" ng-disabled="!clickssEnable[$index]" value="{{add.amount}}" ng-model="add.amount">
							<span class="action-icon"><a class="fa fa-edit" ng-click="clickssEnable[$index] = true"  aria-hidden="true" ></a></span>
							<span class="action-icon"><a class="btn btn-primary" ng-if= "add.productPaymentStatus != 'true'" ng-click="vm.saveServiceCashChange($index,'additionalItem',add.amount,additionalInTable)" aria-hidden="true" >save</a></span>
					  </td>
					  </tr>
					  <table>
		  		<!-- <div class="form-group userfontawsme clearfix" ng-if="invoice.serviceList != ''">
					<label class="col-md-6 col-sm-6">Services</label>
					<div ng-repeat = "x in invoice.serviceDetails track by $index">
					<span>{{x.name}}</span>
					<input type="text" name="serviceCost" ng-disabled="!clickEnable[$index]" value="{{x.cost}}" ng-model="x.cost">
					<span class="action-icon" ><a class="fa fa-edit"
					  ng-click="clickEnable[$index] = true"  aria-hidden="true" ></a></span>
					<span class="action-icon"><a class="btn btn-primary"
					ng-if= "x.productPaymentStatus != 'true'" ng-click="vm.saveServiceCashChange($index,'service',x.cost)" aria-hidden="true" >save</a></span>
					<div ng-if="invoice.checked || invoice.installment">
					<input ng-if= "x.productPaymentStatus != 'true'" type="checkbox" ng-click="vm.balanceDeduction(x.cost,invoice.checkService[$index])" id="serviceCheck" value="serviceCheck" ng-model="invoice.checkService[$index]"><label for="serviceCheck"><span><span></span></span>
					</div>

					</div>
		  		</div> -->
		  		<!-- <div class="form-group userfontawsme clearfix" ng-if="invoice.prescriptionDetails != ''">
					<label class="col-md-6 col-sm-6">Drugs & Others</label>
					<div ng-repeat = "x in invoice.prescriptionDetails track by $index">
					<div ng-if="x.drugName">
						<span>{{x.drugName.productName}}</span>
						<input type="text" name="productCost" ng-disabled="!clicksEnable[$index]" value="{{x.drugName.sellingPrice}}" ng-model="x.drugName.sellingPrice">
						<span class="action-icon"><a class="fa fa-edit" ng-click="clicksEnable[$index] = true"  aria-hidden="true" ></a></span>
						<span class="action-icon"><a class="btn btn-primary" ng-if= "x.productPaymentStatus != 'true'" ng-click="vm.saveServiceCashChange($index,'product',x.drugName.sellingPrice)" aria-hidden="true" >save</a></span>
						<div ng-if="invoice.checked || invoice.installment">
						<input ng-if= "x.productPaymentStatus != 'true'" type="checkbox" ng-click="vm.balanceDeduction(x.drugName.sellingPrice,invoice.checkProduct[$index])" id="productCheck" value="productCheck" ng-model="invoice.checkProduct[$index]"><label for="productCheck"><span><span></span></span>
						</div>
					</div>
					<div ng-if="x.productName">
						<span>{{x.productName.productName}}</span>
						<input type="text" name="productCost" ng-disabled="!clicksEnable[$index]" value="{{x.productName.sellingPrice}}" ng-model="x.productName.sellingPrice">
						<span class="action-icon"><a class="fa fa-edit" ng-click="clicksEnable[$index] = true"  aria-hidden="true" ></a></span>
						<span class="action-icon"><a class="btn btn-primary" ng-if= "x.productPaymentStatus != 'true'" ng-click="vm.saveServiceCashChange($index,'product',x.productName.sellingPrice)" aria-hidden="true" >save</a></span>
						<div ng-if="invoice.checked || invoice.installment">
						<input ng-if= "x.productPaymentStatus != 'true'" type="checkbox" ng-click="vm.balanceDeduction(x.productName.sellingPrice,invoice.checkProduct[$index])" id="productCheck" value="productCheck" ng-model="invoice.checkProduct[$index]"><label for="productCheck"><span><span></span></span>
						</div>
					</div>

		  		</div>
		  		</div> -->

				<div class="form-group clearfix">
					<label class="control-label col-md-6 col-sm-6">Description</label>
					<div class="col-md-6 col-sm-6">
						<input type="text" value="" name="description" class="form-control" ng-model="invoice.description" required>
						<!-- <span class="mandatory" ng-show="(invoiceForm.description.$touched || invoiceForm.$submitted) && invoiceForm.description.$invalid" >description is required</span> -->
					</div>
				</div>

				<div class="form-group clearfix">
					<label class="control-label col-md-6 col-sm-6">Amount</label>
					<div class="col-md-6 col-sm-6">
						<input type="text" numbers-only  name="amount" class="form-control" ng-model="invoice.amount" required disabled="disabled">
						<span class="mandatory" ng-show="(invoiceForm.amount.$touched || invoiceForm.$submitted) && invoiceForm.amount.$invalid">Amount is required</span>
					</div>
				</div>

				<div class="form-group clearfix"  ng-if="invoice.paid">
					<label class="control-label col-md-6 col-sm-6">Payment Status</label>

					<input type="checkbox"  ng-disabled="invoice.paid || invoice.unpaid || invoice.installment"  ng-model="invoice.paid" id="paid" value="paid"><label for="paid"><span><span></span></span>Paid
					  </label>

				</div>
				<div class="form-group clearfix"  ng-if="invoice.unpaid || invoice.installment">
					<label class="control-label col-md-6 col-sm-6">Payment Type</label>
					<div class="col-md-6 col-sm-6">

					<input type="checkbox"  ng-model="invoice.cash"  id="cash" value="cash"><label for="cash"><span><span></span></span>Cash
					  </label>
					<input type="checkbox"  ng-model="invoice.net"  disabled id="net" value="net"><label for="net"><span><span></span></span>Net Banking
					  </label>
					<input type="checkbox"  ng-model="invoice.card" disabled id="card" value="card"><label for="card"><span><span></span></span>Credit Card
					  </label>

					</div>
				</div>
				<div ng-if="invoice.cash">
				<div ng-hide="invoice.installment" class="form-group clearfix" ng-if="invoice.unpaid">
					<label class="control-label col-md-6 col-sm-6">Payment Status</label>
					<!-- <input type="checkbox" ng-disabled="invoice.paid || invoice.installment" ng-model="invoice.unpaid" id="unpaid" value="unpaid"> <label for="unpaid"><span><span></span></span> Unpaid
					  </label>
					<input type="checkbox"  ng-disabled=" invoice.unpaid || invoice.installment"  ng-model="invoice.paid" id="paid" value="paid"><label for="paid"><span><span></span></span>Paid
					  </label> -->
					<input type="checkbox" ng-click="invoice.checked = !invoice.checked; installmentUpdate(invoice.checked);"  ng-model="invoice.installments" id="installment"  id="installment" value="installment"><label for="installment"><span><span></span></span>Installment
					  </label>
					  	<div ng-hide="invoice.installments" class="form-group clearfix">
							<label class="control-label col-md-6 col-sm-6">Discount</label>
							<div class="col-md-6 col-sm-6 bb">
								<input type="text" value="" numbers-only ng-keyup="vm.discountAmountShow = true" ng-change="vm.discount(invoice)" name="amount" class="form-control" ng-model="invoice.discount"> in %

							</div>
						</div>
						<div ng-hide="invoice.installments" ng-if="vm.discountAmountShow == true ; invoice.discount != 0" class="form-group clearfix">
							<label class="control-label col-md-6 col-sm-6">Amount To Pay</label>
							<div class="col-md-6 col-sm-6">
								<input type="text" value="" numbers-only disabled name="amount" class="form-control" ng-model="invoice.discountAmount">

							</div>
						</div>
						<div ng-hide="invoice.installments" class="form-group clearfix">
							<label class="control-label col-md-6 col-sm-6">Full Payment</label>
							<div class="col-md-6 col-sm-6">
								<input type="text" value="" numbers-only ng-change="vm.change('edit',invoice)" name="fullpayment" class="form-control" ng-model="invoice.payment" required>
								<span class="mandatory" ng-show="(invoiceForm.fullpayment.$touched || invoiceForm.$submitted) && invoiceForm.fullpayment.$invalid">Full Payment is required</span>
							</div>
						</div>
						<div ng-show = "invoice.installments" class="form-group clearfix">
						<!-- <label class="control-label col-md-6 col-sm-6">Installment Payment</label>
							<div class="col-md-6 col-sm-6">
								<input type="text" value="" ng-change="vm.change('edit',invoice)" name="payment" class="form-control" ng-model="invoice.payment">
								<span class="mandatory" ng-show="(invoiceForm.payment.$touched || invoiceForm.$submitted) && invoiceForm.payment.$invalid">Installment Payment is required</span>
							</div>	 -->
						</div>

						<div  class="form-group clearfix">
							<label class="control-label col-md-6 col-sm-6">Remaining Balance</label>
							<div class="col-md-6 col-sm-6">
								<input type="text" numbers-only disabled name="remainingBalance" class="form-control" ng-model="invoice.remainingBalance" required>
								<span class="mandatory" ng-show="(invoiceForm.remainingBalance.$touched || invoiceForm.$submitted) && invoiceForm.remainingBalance.$invalid">Remaining Balance is required</span>
							</div>
						</div>
				</div>
				<!-- <div class="form-group clearfix" ng-if="invoice.unpaid == false || invoice.paid == false || invoice.installment == false">
					<label class="control-label col-md-6 col-sm-6">Payment Status</label>
					<div class="col-md-6 col-sm-6">
					<input type="checkbox" ng-disabled="invoice.paid || invoice.installment" ng-model="invoice.unpaid" id="unpaid" value="unpaid"> <label for="unpaid"><span><span></span></span> Unpaid
					  </label>
					<input type="checkbox"  ng-disabled=" invoice.unpaid || invoice.installment"  ng-model="invoice.paid" id="paid" value="paid"><label for="paid"><span><span></span></span>Paid
					  </label>
					<input type="checkbox" ng-disabled="invoice.paid || invoice.unpaid " ng-model="invoice.installment" id="installment"  id="installment" value="installment"><label for="installment"><span><span></span></span>Installment
					  </label>

					</div>
				</div> -->

				<div ng-if="invoice.installment" class="form-group clearfix">
					<label class="control-label col-md-6 col-sm-6">Payment Status</label>

					<input type="checkbox" ng-disabled="invoice.paid || invoice.installment" ng-model="invoice.installment" id="installment"  id="installment" value="installment"><label for="installment"><span><span></span></span>Installment
					  </label>
					<!-- <label class="control-label col-md-6 col-sm-6">Installment Payment</label>
					<div class="col-md-6 col-sm-6">
						<input type="text" value="" ng-change="vm.change('edit',invoice)" name="payment" class="form-control" ng-model="invoice.payment" required>
						<span class="mandatory" ng-show="(invoiceForm.payment.$touched || invoiceForm.$submitted) && invoiceForm.payment.$invalid">Installment Payment is required</span>
					</div>	 -->
				</div>
				<div ng-if="invoice.installment" class="form-group clearfix">
					<label class="control-label col-md-6 col-sm-6">Remaining Balance</label>
					<div class="col-md-6 col-sm-6">
						<input type="text" value="" disabled name="remainingBalance" class="form-control" ng-model="invoice.remainingBalance" required>
						<span class="mandatory" ng-show="(invoiceForm.remainingBalance.$touched || invoiceForm.$submitted) && invoiceForm.remainingBalance.$invalid">Remaining Balance is required</span>
					</div>
				</div>
				</div>
				</div>
				<div class="col-md-12 button-section align-right">
				<input ng-if="!invoice.unpaid" type="submit"  class="btn btn-primary" name="Save" value="Update">
				<input ng-if="invoice.unpaid" ng-click="vm.unpaid(invoice,invoiceForm)" type="button" class="btn btn-primary" name="Save" value="Update">
				<a class="btn btn-default " ng-click="cancel()">Cancel</a>
			</div>
			</div>



		</form>
	</div>

    </script>
   <script type="text/ng-template" id="payPopup">
    <div class="ngdialog-message" >
    <div class="panel inventory-pg">


        <h3 class="ct-tit">Payment type</h3>
        <div class="ct-popup clearfix">
        <div class="inner-popup">
           <div class="pay-type">

					<input type="checkbox"  ng-model="invoices.cash"  id="cash" value="cash"><label for="cash"><span><span></span></span>Cash
					  </label>
					<input type="checkbox"  ng-model="invoices.net"  disabled id="net" value="net"><label for="net"><span><span></span></span>Net Banking
					  </label>
					<input type="checkbox"  ng-model="invoices.card" disabled id="card" value="card"><label for="card"><span><span></span></span>Credit Card
					  </label>

			</div>
			</div>
			</div>
			<div class="form-group button-section clearfix">
			<div class="col-md-12 align-right">
			<button ng-if="!invoice.unpaid" ng-click="vm.updateInvoice(obj)" class="btn btn-primary">Proceed</button>
			<input ng-if="invoice.unpaid" ng-click="vm.unpaid(invoices,obj)" type="button" class="btn btn-primary" name="Save" value="Proceed">
			<input type="button" class="btn btn-default" ng-click="cancel()" value="Cancel">
        	</div>
        </div>
        </div>
    </div>
</script>

    <!-- <script type="text/ng-template" id="invoicePrintTemplate"> -->
    <div ng-show="printView" class="panel">
    <form name="invoiceForm" >
		<div class="panel-heading clearfix">
			<h4 class="pull-left">Print Confirmation</h4>
		</div>
	<!-- 	{{obj}} -->

<div class="container" id="printSectionId">
    <div class="row">
        <div class="well" style="padding: 30px 50px;background: #fff;">
            <div class="row">


                 <div style="border-bottom: 2px solid #000;padding: 0px 0px 10px 0px;margin-bottom: 20px;width: 100%;clear: both;display: block;float: left;">
                    <address>
                   <div style="float: left;width: 11%;margin-right: 20px;">
                   	<img src="{{obj.clinic.thumbImage}}{{obj.clinic.image}}">
                   </div>
                   <div style="float: left;width: 70%;">
                   	<div class="clearfix">
                   		<strong>{{obj.clinic.username}}</strong>
                   	</div>
                   	<div style="float: left;width: 50%;">
                   		<p>{{obj.clinic.area}}</p>

                        <p>{{obj.clinic.address}}</p>

                        <p>{{obj.clinic.city}}</p>

                        <p>Phone : {{obj.clinic.mobile}}</p>
                   	</div>

                      <!--  <div style="float: right;width: 50%;">
                       	<span title="Phone">Phone :</span> {{obj.clinic.mobile}}
                       </div> -->

                   </div>



                    </address>
                </div>
                <br>
                 <div style="width: 100%;display: block;border-bottom: 1px solid #000;float: left;margin-bottom: 20px;">
                      <p> {{obj.patient.firstName+ ' ' +obj.patient.lastName}}</p>
                        <p><strong>NRIC:</strong>  {{obj.patient.nric}}</p>
                </div>
                <div style="width: 100%;display: block;float: left;">
                 <div style="float: left;width: 70%;">
                    <address>
                        <strong>By:</strong>{{obj.doctor.firstName + ' ' +obj.doctor.lastName}}

                    </address>
                </div>

                <div style="float: right;width: 30%;">
                    <p>
                        <em>Date: {{obj.invoiceDate}}</em>
                    </p>
                    <p>
                        <em>Receipt #: {{obj.invoiceId}}</em>
                    </p>
                </div>
                </div>
          <!--       <h4 style="margin:15px 0;text-align:left;font-weight:600;font-size: 16px; ">RECEIPT:</h4>
			<p style="margin:25px 0;text-align:left" >Recieved with thanks, amount of {{obj.payment}}&nbsp;SGD towards the following:</p> -->
            </div>
            <div class="row">
                 <table class="table table-hover" style="border: 1px solid #ccc;">
                    <thead>
                        <tr>
                            <th style="padding: 20px 10px;">#</th>
                            <th style="padding: 20px 10px;">Treatments & Products</th>
                            <th style="padding: 20px 10px;">Unit Cost SGD</th>
                            <th style="padding: 20px 10px;">Qty</th>
                            <th style="padding: 20px 10px;" class="text-right">Total Cost SGD</th>
                        </tr>
                    </thead>
                    <tbody>
                <tr ng-if="vm.serviceList != null" ng-repeat="x in vm.serviceList track by $index">
									<td>{{$index + 1}}</td>
									<td >{{x.name}} <b>(Service)</b></td>
									<td ></td>
									<td ></td>
									<td class="text-right" style="text-align: right;">{{x.cost}}</td>

								</tr>
								<tr ng-if="vm.prescriptionList != null" ng-repeat="x in vm.prescriptionList track by $index">
									<td >{{vm.serviceList.length + ($index + 1)}}</td>
									<td ng-if="x.drugName" >{{x.drugName.productName}} <b>(Drug)</b></td>
									<td ng-if="x.drugName" >{{x.drugName.sellingPrice}}</td>
									<td ng-if="x.drugName" >{{x.qty}}</td>
									<td ng-if="x.drugName" style="text-align: right;" >{{x.drugName.sellingPrice * x.qty}}</td>

									<td ng-if="x.productName" >{{x.productName.productName}} <b>(Others)</b></td>
									<td ng-if="x.productName" >{{x.productName.sellingPrice}}</td>
									<td ng-if="x.productName" >{{x.qty}}</td>
									<td ng-if="x.productName" style="text-align: right;">{{x.productName.sellingPrice * x.qty}}</td>

									<td ng-if="x.billingItem" >{{x.billingItem}} </td>
									<td ng-if="x.billingItem" ></td>
									<td ng-if="x.billingItem" ></td>
									<td ng-if="x.billingItem" style="text-align: right;">{{x.amount}}</td>

								</tr>
								<tr ng-if="vm.additionalItemList != null" ng-repeat="x in vm.additionalItemList track by $index">
								<td >{{vm.serviceList.length +vm.prescriptionList.length + ($index + 1)}}</td>
									<td  >{{x.name}} <b>(Additional)</b></td>
									<td ></td>
									<td ></td>
									<td  class="text-right" style="text-align: right;">{{x.amount}}</td>

									<!-- <td width="25%" valign="top" style="text-align:center;padding:2px;">{{obj.amount}}</td> -->
								</tr>
                        <tr>

                            <td colspan="4" class="text-right" style="text-align: right;">
                            <p>
                                <strong>SubTotal: </strong>
                            </p>
                            <p ng-if="obj.tax != null && obj.tax != ''">
                                <strong>Tax: </strong>
                            </p>
                            <p ng-if="obj.discount != null && obj.discount != ''">
                                <strong>Discount: </strong>
                            </p></td>
                            <td class="text-right" colspan="1" style="text-align: right;">
                            <p>
                                <strong>{{obj.amount}}&nbsp;SGD</strong>
                            </p>
                            <p ng-if="obj.tax != null && obj.tax != ''">
                                <strong>{{obj.tax}} %</strong>
                            </p>
                            <p ng-if="obj.discount != null && obj.discount != ''">
                                <strong>{{obj.discount}} %</strong>
                            </p></td>
                        </tr>
                        <tr>

                            <td class="text-right" colspan="4" style="text-align: right;" ><strong>Total: </strong></td>
                            <td ng-if="obj.total == 0"class="text-right text-danger" style="text-align: right;" colspan="1"><h4><strong>{{vm.taxCal(obj)}}&nbsp;SGD</strong></h4></td>
                            <td ng-if="obj.total != 0" class="text-right text-danger" style="text-align: right;" colspan="1"><h4><strong>{{obj.total}}&nbsp;SGD</strong></h4></td>
                            <!--  -->
                            <!-- <td class="text-right" style="text-align: right;" colspan="3" ng-if="!obj.appointmentBalanceAmount"><h4><strong>Total: </strong></td>
                            <td class="text-right text-danger" colspan="2" style="text-align: right;" ng-if="!obj.appointmentBalanceAmount"><strong>{{obj.amount}}&nbsp;SGD</strong></td> -->
                            </tr>
                            <tr>
                            	 <td class="text-right" colspan="4" style="text-align: right;" ><strong>Amount recieved on {{obj.paidDate}}:</strong>
                            	 </td>
                            	 <td colspan="1" class="text-right text-danger" style="text-align: right;"><strong>{{obj.payment}}&nbsp;SGD</strong></td>
                            	 &nbsp;
                            </tr>
                            <tr>
                            <td class="text-right"  colspan="4" style="text-align: right;" ng-if="obj.appointmentBalanceAmount"><strong>Balance Amount: </strong></td>
                            <td class="text-right text-danger" colspan="1" style="text-align: right;" ng-if="obj.appointmentBalanceAmount"><strong>{{vm.addAmounts(obj.pendingAmount , obj.appointmentBalanceAmount)}}&nbsp;SGD</strong></td>
                            </tr>

                             <tr>
                             	<td colspan="4" class="text-right" style="text-align: right;" ng-if="!obj.appointmentBalanceAmount"><strong>Balance Amount: </strong></td>
                            	<td colspan="1" class="text-right text-danger" ng-if="!obj.appointmentBalanceAmount" style="text-align: right;"><strong>{{obj.pendingAmount}}&nbsp;SGD</strong></td>
                             </tr>
                            

                             <tr>
                             	 <td class="text-right" colspan="5" style="text-align: left;"><strong>Mode of Payment :&nbsp; {{obj.paymentType}}</strong></td>



                        <!-- <tr>
                        	 <td class="text-right" colspan="5" style="text-align: left;"><strong>Amount Due as of {{date | date:'MMM d, y'}} is &nbsp;{{obj.pendingAmount}}&nbsp;SGD</strong></td>
                        </tr> -->
                        <tr>
                        <td style="text-align: center;" colspan="5">
								<p style="margin:0px;">If you have any questions about this invoice</p>
								<p style="margin:0px;">{{obj.clinic.firstName}},{{obj.clinic.address}},{{obj.clinic.city}}</p>
								<p style="margin:0px;">phone:{{obj.clinic.mobile}},Email:{{obj.clinic.email}}</p>
								<h4 style="margin:10px 0 30px 0;font-weight:bold;">Thank You For Your Business!</h4>
								</td>
						</tr>
                    </tbody>
                </table>

              <!-- </td> -->
            </div>
        </div>
    </div>
				<div class="pull-right mrt-15">

				<button class="btn btn-primary" id="back-print" ng-click="vm.getInvoice()">Back</button>
				<!-- <button class="btn btn-primary" id="back-print" ui-sref="invoice">Back</button> -->
				</div>
				<div class="pull-left">
				<button id="printbill" onclick="window.print();" class="btn btn-default">Print</button>
				<!-- <button class="btn btn-default" id="printbill" ng-click="printToCart('printSectionId')">Print</button> -->
			</div>
			
			</form>

<style type="text/css">
	@media print {
		@page { margin: 0; }
		#printbill, #back-print, #sidebar-wrapper, .main-head, #toast-container, .panel-heading {
			display: none;
		}
		#wrapper{
			padding: 0;
		}

	}
</style>


	<div ng-class="{'loader': invoicePdfLoader == true}">
<div class="overlay-bg"></div>
<div class="loading-bg"></div>
</div>
	 </div>
<!-- 	 <br />
<br />

        <div class="input-group">
            <input class="form-control" ng-model="searchText" placeholder="Search" type="search" ng-change="search()" /> <span class="input-group-addon">
      <span class="glyphicon glyphicon-search"></span>
</span>
        </div>
        <table class="table  table-hover data-table myTable">
            <thead>
                <tr>
                    <th class="EmpId"> <a  ng-click="sorts('EmpId',$event)" >EmpId
                         <span class="{{Header[0]}}"></span>
                         </a>

                    </th>
                    <th class="name"> <a ng-click="sorts('name')" > Name
                         <span class="{{Header[1]}}"></span></a>
                    </th>
                    <th class="Email"> <a ng-click="sorts('Email')" > Email
                     <span class="{{Header[2]}}"></span></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ItemsByPage[currentPage] | orderBy:columnToOrder:reverse">
                    <td>{{item.EmpId}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.Email}}</td>
                </tr>
            </tbody>
        </table>
        <ul class="pagination pagination-sm">
            <li ng-class="{active:0}"><a href="#" ng-click="firstPage()">First</a>

            </li>
            <li ng-repeat="n in range(ItemsByPage.length)"> <a href="#" ng-click="setPage()" ng-bind="n+1">1</a>

            </li>
            <li><a href="#" ng-click="lastPage()">Last</a>

            </li>
        </ul>
        <div class="row">
            <div class="col-xs-3">
                <input type="text" ng-model="newEmpId" class="form-control" placeholder="EmpId">
            </div>
            <div class="col-xs-3">
                <input type="text" ng-model="newName" class="form-control" placeholder="Name">
            </div>
            <div class="col-xs-4">
                <input type="email" ng-model="newEmail" class="form-control" placeholder="Email">
            </div>
            <div class="col-xs-1">
                <button ng-click="add()" type="button" class="btn btn-primary"> <span class="glyphicon glyphicon-plus"></span>

                </button>
            </div>
        </div> -->




    <!-- </script>     -->
       <style>



@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
