
<div class="panel panel-primary leaveform-pg">
	<div class="panel-heading ">
		LEAVE FORM	
	</div>
	<div class="panel-body panel-inset">
		<div class="col-md-12 no-padding">
			<form>
				<div class="form-group clearfix">
					<label class="label-control col-md-3 col-sm-4 col-xs-5">Employee Name<b>:</b></label>
					<span class="col-md-6 col-sm-8 col-xs-7">Mary</span>
				</div>
				<div class="form-group clearfix">
					<label class="label-control col-md-3 col-sm-4 col-xs-5">Employee ID<b>:</b></label>
					<span class="col-md-6 col-sm-8 col-xs-7">19750</span>
				</div>
				<div class="form-group clearfix">
					<label class="label-control col-md-3 col-sm-4 col-xs-5">Department<b>:</b></label>
					<span class="col-md-6 col-sm-8 col-xs-7">Supervisor-Mechanical</span>
				</div>
				<div class="form-group clearfix">
					<label class="label-control col-md-3 col-sm-4 col-xs-5">From Date<b>:</b></label>
					<span class="col-md-6 col-sm-8 col-xs-7"><input text="type" class="form-control"></span>
				</div>
				<div class="form-group clearfix">
					<label class="label-control col-md-3 col-sm-4 col-xs-5">To Date<b>:</b></label>
					<span class="col-md-6 col-sm-8 col-xs-7"><input text="type" class="form-control"></span>
				</div>
				<div class="form-group clearfix">
					<label class="label-control col-md-3 col-sm-4 col-xs-5">Reason<b>:</b></label>
					<span class="col-md-6 col-sm-8 col-xs-7"><textarea class="form-control"></textarea></span>
				</div>
				<div class="col-md-12 align-right btn-cl-fn">
					<button href="#" class="btn btn-success send">Send</button>
					<button href="#" class="btn btn-danger">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>	