<!-- Sidebar -->
<div id="sidebar-wrapper" ng-hide="main.loginpage"  ng-scrollbars ng-scrollbars-config="scrollBarconfig">

	<ul class="sidebar-nav" >
		<li><a ui-sref="appointment" ><span  ng-if="activeTab != 'appointment'"><img src="assets/img/side/appointment-icon.png" /></span><span  ng-if="activeTab == 'appointment'"><img src="assets/img/side/hover_appointment-icon.png" /></span><h6>Appointment</h6></a></li>
		<li><a ui-sref="messages"><span ng-if="activeTab != 'message'"><img src="assets/img/side/message-icon.png" /></span><span ng-if="activeTab == 'message'"><img src="assets/img/side/hover_message-icon.png" /></span><h6>Message</h6></a></li>
		<li><a ui-sref="patient"><span ng-if="activeTab != 'patient'"><img src="assets/img/side/folder-icon.png" /></span><span ng-if="activeTab == 'patient'"><img src="assets/img/side/hover_folder-icon.png" /></span><h6>Patient Data</h6></a></li>
		<li><a ui-sref="settings"><span ng-if="activeTab != 'setting'"><img src="assets/img/side/settings-icon.png" /></span><span ng-if="activeTab == 'setting'"><img src="assets/img/side/hover_settings-icon.png" /></span><h6>Setting</h6></a></li>
	</ul>
</div>
<!-- /#sidebar-wrapper -->