
	<div ng-controller="dashboardCtrl" class="content-center dashboard-sec">
	<div class="inner-center">
<div class="panel dashboard-pg" ng-if="type == 'clinic'">
	
	<div class="panel-body">
		<div class="col-md-12">
			<div class="col-md-3 box">
				<a ui-sref="appointment" class="box-red">
					<span><img src="assets/img/home/appointment-icon.png"></span>
					<h4>Appointment</h4>
				</a>
			</div>
			<div class="col-md-3 box">
				<a ui-sref="messages" class="box-yellow">
					<span><img src="assets/img/home/message-icon.png"></span>
					<h4>Message</h4>
				</a>
			</div>
			<div class="col-md-3 box">
				<a ui-sref="invoice" class="box-blue">
					<span><img src="assets/img/home/billing-icon.png"></span>
					<h4>Billing</h4>
				</a>
			</div>
			<div class="col-md-3 box">
				<a ui-sref="financeLogin" class="box-D-violet">
					<span><img src="assets/img/home/finance-icon.png"></span>
					<h4>Finance</h4>
				</a>
			</div>
			<div class="col-md-3 box">
				<a ui-sref="expenses" class="box-green">
					<span><img src="assets/img/home/expenses.png"></span>
					<h4>Expenses</h4>
				</a>
			</div>
			<div class="col-md-3 box">
				<a ui-sref="inventory" class="box-primary">
					<span><img src="assets/img/home/inventory.png"></span>
					<h4>Inventory</h4>
				</a>
			</div>
			<div class="col-md-3 box">
				<a ui-sref="patient" class="box-orange">
					<span><img src="assets/img/home/patient-data-icon.png"></span>
					<h4>Patient Data</h4>
				</a>
			</div>
			<div class="col-md-3 box">
				<a ui-sref="settings" class="box-L-violet">
					<span><img src="assets/img/home/setting-icon.png"></span>
					<h4>Settings</h4>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="panel dashboard-pg" ng-if="type == 'doctor'">
	
	<div class="panel-body clinic-dashboard">
		<div class="col-md-12">
			<div class="col-md-6 box">
				<a ui-sref="appointment" class="box-red">
					<span><img src="assets/img/home/appointment-icon.png"></span>
					<h4>Appointment</h4>
				</a>
			</div>
			<div class="col-md-6 box">
				<a ui-sref="messages" class="box-yellow">
					<span><img src="assets/img/home/message-icon.png"></span>
					<h4>Message</h4>
				</a>
			</div>
			<div class="col-md-6 box">
				<a ui-sref="patient" class="box-orange">
					<span><img src="assets/img/home/patient-data-icon.png"></span>
					<h4>Patient Data</h4>
				</a>
			</div>
			<div class="col-md-6 box">
				<a ui-sref="settings" class="box-L-violet">
					<span><img src="assets/img/home/setting-icon.png"></span>
					<h4>Settings</h4>
				</a>
			</div>
		</div>
	</div>
</div>
</div>
<style>
body{background: #fff;}
.content-center{display: table;
    table-layout: fixed;
    width: 100%;}
    .inner-center{display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;}
</style>
