<div class="panel dashboard-pg">
	
	<div class="panel-body">
		<div class="col-md-12">
			<div class="col-md-3 box">
				<a ui-sref="appointment" class="box-red">
					<span><img src="assets/img/home/appointment-icon.png"></span>
					<h4>Appointment</h4>
				</a>
			</div>
			<div class="col-md-3 box">
				<a ui-sref="messages" class="box-yellow">
					<span><img src="assets/img/home/message-icon.png"></span>
					<h4>Message</h4>
				</a>
			</div>
			<div class="col-md-3 box">
				<a ui-sref="patient" class="box-orange">
					<span><img src="assets/img/home/patient-data-icon.png"></span>
					<h4>Patient Data</h4>
				</a>
			</div>
			<div class="col-md-3 box">
				<a href="#" class="box-L-violet">
					<span><img src="assets/img/home/setting-icon.png"></span>
					<h4>Settings</h4>
				</a>
			</div>
		</div>
	</div>
</div>
<style>
body{background: #fff;}
</style>