<div class="panel">
    <div class="panel-heading clearfix">
        <h3 class="pull-left">Inventory Usages</h3>
    </div>
    <div class="panel-body top-msg" ng-controller="messagesController as tab">
        <form name="form" class="form-horizontal" ng-init='id = "Week"' ng-submit="" role="form">
            <div class="clearfix">
                <ul class="nav nav-pills pull-left mrb-15">
                    <li ng-class="{active:vm.isSet(1)}"><a href ng-click="vm.setTab(1);id='Week'">Week</a></li>
                    <li ng-class="{active:vm.isSet(2)}"><a href ng-click="vm.setTab(2);id='Month'">Month</a></li>
                    <li ng-class="{active:vm.isSet(3)}"><a href ng-click="vm.setTab(3);id='Year'">Year</a></li>
                </ul>
                <div class="clearfix pull-right"> <a class="btn btn-primary" ui-sref="inventory">Back</a>
                    <button class="btn btn-primary" ng-click="createPDF(id)" ng-disabled="(!vm.weekdatas[0] && tab.isSet(1)) || (!vm.monthdatas[0] && tab.isSet(2)) || (!vm.yeardatas[0] && tab.isSet(3))">REPORT</button>
                    <div ng-class="{'loader': vm.inventoryUsageLoader == true}"></div>
                </div>
            </div>
            <div ng-show="vm.isSet(1)">
                <div ng-class="{'loader': vm.inventoryLoader == true}">
                </div>
                <div ng-if="vm.weekdatas[0]" class="chart-inv expenses-chart" id='Week'>
                    <canvas id="line" class="chart chart-line" chart-data="vm.weekdatas" chart-labels="weeklabels" chart-colors="colors" chart-dataset-override="datasetOverride">
                    </canvas>
                </div>
                <div ng-if="!vm.weekdatas[0]">
                    <h3> No Data Found </h3>
                </div>
            </div>
            <div ng-show="vm.isSet(2)">
                <div ng-class="{'loader': vm.inventoryLoader == true}">
                </div>
                <div ng-if="vm.monthdatas[0]" class="chart-inv expenses-chart" id='Month'>
                    <canvas id="line" class="chart chart-line" chart-data="vm.monthdatas" chart-labels="monthlabels" chart-dataset-override="datasetOverride">
                    </canvas>
                </div>
                <div ng-if="!vm.monthdatas[0]">
                    <h3> No Data Found </h3>
                </div>
            </div>
            <div ng-show="vm.isSet(3)">
                <div ng-class="{'loader': vm.inventoryLoader == true}">
                </div>
                <div ng-if="vm.yeardatas[0]" class="chart-inv expenses-chart" id='Year'>
                    <canvas id="line" class="chart chart-line" chart-data="vm.yeardatas" chart-labels="yearlabels" chart-dataset-override="datasetOverride">
                    </canvas>
                </div>
                <div ng-if="!vm.yeardatas[0]">
                    <h3> No Data Found </h3>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
.loader {
    border: 4px solid #ccc;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 25px;
    height: 25px;
    right: 10px;
    top: 86px;
    position: absolute;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
</style>
