<div class="panel sec-height inventory-pg">
    <div class="panel-heading clearfix">
        <h3 class="pull-left"><b>Inventory</b></h3>
        <div class="pull-right">
            <button ng-click="vm.openAddInventory()" type="button" class="btn btn-default">Add</button>
        </div>
    </div>
    <div class="panel-body">
    <div class="col-md-12 sorting-tab padding-zro align-right">
          <!--   <div class="filter-box clearfix mrl-0 pull-left">
                <label>Search</label>
                <input type="text" ng-keyup="keyup(vm.items)" ng-model="vm.inventory.filter">
            </div> -->
            <div class="sort-date-picker">
                <div class="form-group clearfix ">
                    <label>From</label>
                    <div class="input-group date">
                        <input type="text" class="form-control" readonly datepicker-popup="{{vm.format}}" ng-model="vm.inventory.fromDate" is-open="openDatePicker[0]" close-text="Close">
                        <span class="input-group-btn">
						<button
						  type="button"
						  class="btn btn-primary"
						  ng-click="openFrom($event, 0)">
						  <i class="fa fa-calendar" aria-hidden="true"></i>
						</button>
					  </span>
                    </div>
                </div>
                <div class=" form-group clearfix">
                    <label>To</label>
                    <div class="input-group date">
                        <input type="text" class="form-control" readonly datepicker-popup="{{vm.format}}" ng-model="vm.inventory.toDate" is-open="openDatePickers[0]" close-text="Close">
                        <span class="input-group-btn">
						<button
						  type="button"
						  class="btn btn-primary"
						  ng-click="open($event, 0)">
						  <i class="fa fa-calendar" aria-hidden="true"></i>
						</button>
					  </span>
                    </div>
                </div>
                <button class="btn btn-primary pull-right search-btn" ng-disabled="vm.searchEnable" ng-click="vm.getInventory();vm.inventory.toDate = ''; vm.inventory.fromDate = ''"> Reset</button>
				<button class="btn btn-primary pull-right search-btn" ng-click="vm.searchFilter()"> Search</button>
            </div>
        </div>
    <div class="table-responsive">
    <table datatable="ng" class="table table-bordered in-list-tab table-striped">
    			<thead>
	                <tr>
	                    <th>S.No</th>
	                    <th> Date </th>
	                    <th> Supplier Name</th>
	                    <th>Product Name</th>
	                    <th>Product Type</th>
	                     <th>Selling Price</th>
	                    <th>Stock Description</th>
	                    <!-- <th>original Qty</th> -->
	                    <th>On Hand Qty</th>
	                    <th>Action</th>
	                </tr>
                </thead>
                <tbody>
	                <tr ng-if="vm.inventoryDatas" ng-repeat="x in vm.inventoryDatas">
	                    <td>{{$index+1}}</td>
	                    <td>{{x.inventoryDate}}</td>
	                    <td>
	                        <p>{{x.supplierName}}</p>
	                    </td>
	                    <td>{{x.productName}}</td>
	                    <td>{{x.productType}}</td>
	                    <td><span class="dollar">$</span> {{x.sellingPrice}}</td>
	                    <td>{{x.description}}</td>
	                    <!-- <td>{{x.originalQty}}</td> -->
	                    <td>{{x.onHandQty}}</td>
	                    <td class="action-blk"><span class="action-icon">
					<a class="fa fa-edit" aria-hidden="true" ng-click="vm.editInventory(x.id)"></a><a class="fa fa-eye" aria-hidden="true"  ng-click="vm.auditPop(x.id)"></a><a confirm-click class="fa fa-trash" aria-hidden="true"  ng-click="confirmClick() && vm.deleteInventory(x.id)"></a></span>
	                    </td>
	                </tr>
                </tbody>
                <!-- <tr ng-if="vm.inventoryDatas == ''">
                    <td colspan="9">No datas found</td>
                </tr> -->
            </table>
            </div>
            </div>
</div>
<div ng-class="{'loader': practysLoader == true}">
    <div class="overlay-bg"></div>
    <div class="loading-bg"></div>
</div>
<script type="text/ng-template" id="popover.html">
    <h4>Action</h4>
    <a class="fa fa-edit" aria-hidden="true" ui-sref="editInventory({id: x.id})"></a>
</script>
<script type="text/ng-template" id="popoverAdd.html">
    <a class="btn btn-primary pull-right" ui-sref="addInventory">Add</a>
</script>
<script type="text/ng-template" id="auditPop">
    <div class="ngdialog-message popup-bg col-md-12 credit-crd" >
        <h4 class="ct-tit">Inventory Audits</h4>
        <div class="ct-popup">
            <div class="panel-height">
                <div class="table-responsive">
                    <table class="table table-bordered in-list-tab table-striped">
                        <tr>
                            <th>S.No</th>
                            <th>Modified Field</th>
                            <th>Old Value</th>
                            <th>New Value</th>
                            <th>Modified By</th>
                            <th>Modified At</th>
                        </tr>
                        <tr ng-if="inventoryAudits" ng-repeat="x in inventoryAudits | filter: vm.inventory.filter| limitTo:maxSize:(currentPage - 1) * maxSize | orderBy: sortKey:reverse" class="audit-page">
                            <td class="audit-sno">
                                <p>{{maxSize *(currentPage-1)+$index+1}}</p>
                            </td>
                            <td class="audit-desc">
                                <p>{{x.modifiedField}}</p>
                            </td>
                            <td class="audit-oval">
                                <p>{{x.oldValue}}</p>
                            </td>
                            <td class="audit-nval">
                                <p>{{x.newValue}}</p>
                            </td>
                            <td class="audit-modby">
                                <p>{{x.modifiedBy}}</p>
                            </td>
                            <td class="audit-modat">
                                <p>{{x.created}}</p>
                            </td>
                        </tr>
                        <tr ng-if="inventoryAudits == ''">
                            <td colspan="8">No datas found</td>
                        </tr>
                    </table>
                </div>
                <ul uib-pagination total-items="totalInventItems" ng-model="currentPage" ng-change="pageChanged()"></ul>
            </div>
            <div class="col-md-12 button-section align-right">
                <a class="btn btn-default" ng-click="vm.cancel();vm.getInventory();">Back</a>
            </div>
        </div>
        </form>
    </div>
</script>
<style>
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
</style>
