<div class="panel appointment_pg">  
<div class="panel-heading clearfix">
	<h3 class="pull-left" ng-if="vm.calendarView != 'day'">{{ vm.calendarTitle }}</h3>
	<h3 class="pull-left" ng-if="vm.calendarView == 'day'">{{ vm.calenderDate | date:'EEEE d MMMM, y'}}</h3>
	<div class="pull-right filter-box app-margin" ng-if="vm.userLevel == 'clinic' && vm.dropDay">
		
		
    <am-multiselect class="input-lg sel-doctor" multiple="true" ms-selected ="{{vm.dayDoctor.length}} Doctor(s) selected"
    ng-model="vm.dayDoctor" ms-header="Select Doctors"
    options="x.id as x.username for x in vm.doctorNamesList" ></am-multiselect>
    <button class="btn btn-primary pull-right" ng-disabled="vm.dayDoctor.length == 0" ng-click="vm.toggleCalendar('day',vm.dayDoctor)">Search</button>

	</div>
	<div class="pull-right filter-box app-margin" ng-if="vm.userLevel == 'clinic' && vm.dropWeek">
		
         <am-multiselect class="input-lg sel-doctor" multiple="true" ms-selected ="{{vm.weekDoctor.length}} Doctor(s) selected"
    ng-model="vm.weekDoctor" ms-header="Select Doctors"
    options="x.id as x.username for x in vm.doctorNamesList" ></am-multiselect>
    <button class="btn btn-primary pull-right" ng-disabled="vm.weekDoctor.length == 0" ng-click="vm.toggleCalendar('week',vm.weekDoctor)">Search</button>
	</div>
	<div class="pull-right filter-box app-margin" ng-if="vm.userLevel == 'clinic' && vm.dropMonth">
		
       <am-multiselect class="input-lg sel-doctor" multiple="true" ms-selected ="{{vm.monthDoctor.length}} Doctor(s) selected"
    ng-model="vm.monthDoctor" ms-header="Select Doctors"
    options="x.id as x.username for x in vm.doctorNamesList" ></am-multiselect>
    <button class="btn btn-primary pull-right" ng-disabled="vm.monthDoctor.length == 0" ng-click="vm.toggleCalendar('month',vm.monthDoctor)">Search</button>
	</div>	
</div>

<div class="panel-body">
<div class="row top-buttons-sec">
	<div class="col-md-7 text-left">
		<div class="btn-group" ng-show = "toggleView">
			<button class="btn btn-primary prev-btn" mwl-date-modifier date="vm.viewDate" decrement="vm.calendarView">
				<i class="fa fa-angle-left"></i>
			</button>
			<button class="btn btn-default dis-date" mwl-date-modifier date="vm.viewDate" set-to-today>
				{{ vm.calendarTitle }}
			</button>
			<button class="btn btn-primary next-btn" mwl-date-modifier date="vm.viewDate" increment="vm.calendarView">
				<i class="fa fa-angle-right"></i>
			</button>
			<button class="btn btn-primary pull-right" ng-if="vm.userLevel == 'clinic';vm.showBookApp" ui-sref = "bookapp">
				+ Book an Appointment
			</button>
			<div class="clearfix"></div>
		</div>

		<div class="btn-group"  ng-show = "!toggleView && vm.dropDay">
			<button class="btn btn-primary prev-btn" ng-click = "vm.changeDateCtrl('prev')">
				<i class="fa fa-angle-left"></i>
			</button>
			<button class="btn btn-default dis-date" mwl-date-modifier date="vm.viewDate" set-to-today>
				{{dateDisplay}}
			</button>
			<button class="btn btn-primary next-btn"  ng-click = "vm.changeDateCtrl('next')">
				<i class="fa fa-angle-right"></i>
			</button>
			<button class="btn btn-primary pull-right"  ng-click="vm.bookPop()" ng-if="vm.userLevel == 'clinic' && vm.showBookApp" >
				+ Book an Appointment
			</button>
			<button class="btn btn-primary pull-right"  ng-click="vm.bookPop()" ng-if="vm.userLevel == 'doctor' && vm.showBookApp" >
				+ Book an Appointment
			</button>
			<!-- ui-sref = "bookapp" -->
			<div class="clearfix"></div>
		</div>

		<div class="btn-group" ng-show = "!toggleView && vm.dropWeek">
		
			<button class="btn btn-primary prev-btn"  mwl-date-modifier date="vm.viewDate" decrement="'week'" ng-click="vm.changeWeekCtrl(vm.viewDate)">
				<i class="fa fa-angle-left"></i>
			</button>
			<button class="btn btn-default dis-date" mwl-date-modifier date="vm.viewDate" set-to-today ng-click="vm.changeWeekCtrl(vm.viewDate)">
				<!-- {{WeekDisplay}} -->
				{{vm.formateWeekDate(vm.viewDate)}}
			</button>
			<button class="btn btn-primary next-btn" mwl-date-modifier date="vm.viewDate" increment="'week'" ng-click="vm.changeWeekCtrl(vm.viewDate)">
				<i class="fa fa-angle-right"></i>
			</button>
			<!-- ui-sref = "bookapp" -->
			<div class="clearfix"></div>
		</div>
	</div>
	<br class="visible-xs visible-sm">
	<div class="col-md-5 text-right right-side tab-border">
		<div class="btn-group">
			<!--<label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'">Year</label>-->
			<label class="btn btn-primary"  ng-model="vm.calendarView" uib-btn-radio="'day'"  ng-click="vm.toggleCalendar('day')">Day</label>                
			<label class="btn btn-primary"  ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.toggleCalendar('week')">Week</label>
			<label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.toggleCalendar('month')">Month</label>
		</div>
	</div>
</div>
<div class="appointment-blk clearfix">
	<div class="col-md-7 padding-zro month-calendar" ng-show = "toggleView" class="">
		<mwl-calendar
		events="vm.events"
		view="vm.calendarView"
		view-title="vm.calendarTitle"
		view-date="vm.viewDate"
		slide-box-disabled="true"
		on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
		cell-is-open="vm.isCellOpen"
		day-view-start="{{vm.startTime}}"
		day-view-end="{{vm.closeTime}}"
		day-view-split="15"
		cell-modifier="vm.modifyCell(calendarCell)"
		>
		</mwl-calendar>
	</div>
	<div class="col-md-7 padding-zro" ng-show = "!toggleView && vm.dropDay">
		<div ng-include="calendarDayView"></div>
	</div>
<!-- {{!toggleView}}{{vm.dropDay}} -->
	<div class="col-md-7 padding-zro" ng-show = "!toggleView && vm.dropWeek ">
		<div ng-include="calendarWeekView"></div>
	</div>
	<div class="col-md-5 sidebar-left pad-right">
	<div class="col-md-6 pad-right">
		<div class="sidebar-list">
			<div class="panel panel-success">
				<div class="panel-heading">Engaged List</div>
				<div class="panel-body task-blk" ng-scrollbars ng-scrollbars-config="config">

					<div ui-view="engageList"></div>
				</div>
			</div>
			</div>
			 </div>
			 <div class="col-md-6 pad-right">
		<div class="sidebar-list">
			<div class="panel panel-primary">
				<div class="panel-heading">Waiting List</div>
				<div class="panel-body task-blk" ng-scrollbars ng-scrollbars-config="config">
					<div ui-view="waitingList"></div>
				</div>
			</div>
			</div>
			</div>
			</div>
		</div>

  </div>
</div>
<div ng-class="{'loader': practysLoader == true}">
<div class="overlay-bg"></div>
<div class="loading-bg"></div>
</div>
<style>
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.popover {
    min-width: 150px;
}
.popover-content .event-count {
    margin-right: 8px;
    margin-bottom: 7px;
}
.popover-content {
    padding: 9px 10px;
}
</style> 