<div class="panel inventory-pg add-pg-form">
    <h4 class="ct-tit">Add Patient</h4>
    <patient-dialog patient="vm.patient"></patient-dialog>
</div>
<style>
.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    filter: alpha(opacity=0);
}

input[type="file"] {
    display: block;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.hrApp md-content {
    padding-bottom: 200px;
}

.mandatory {
    color: red;
}
</style>
