<div class="panel expenses-pg  add-pg-form">
	<div class="panel-heading">
		<h3>Add Expenses</h3>
	</div>
	<div class="panel-body">
		<form name="expenseForm" ng-submit="vmExpenses.addExpenses()">
			<div class="col-md-6 padding-zro">
				 
				  <div class="form-group clearfix">
					<label for="itemName" class="col-md-3 col-sm-3">Item  Id</label>
					<div class="col-md-6 col-sm-6">
						  <autocomplete ng-model="vmExpenses.expense.itemId" data="items" on-type="updateMovies"></autocomplete>
					</div>	
				  </div>   
				   <div class="form-group clearfix">
					<label for="supplierName" class="col-md-3 col-sm-3">Supplier Name</label>
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" name="supplierName" id="supplier_name"  ng-model="vmExpenses.expense.supplierName">
					</div>	
				  </div> 
				  <span class="mandatory" ng-show="expenseForm.supplierName.$invalid || (expenseForm.$submitted && expenseForm.supplierName.$untouched)" >Supplier Name is required</span> 
				  <div class="form-group clearfix">
					<label for="supplierName" class="col-md-3 col-sm-3">Date</label>
					<div class="col-md-6 col-sm-6">
						<div class="input-group date">
						<input
							type="text"
							class="form-control"
							readonly
							uib-datepicker-popup="yyyy-MM-dd"
							ng-model="vmExpenses.expense.expenseDate"
							is-open="openDatePickers[0]"
							close-text="Close" name="date">
						  <span class="input-group-btn">
							<button
							  type="button"
							  class="btn btn-primary"
							  ng-click="open($event, 0)">
							  <i class="fa fa-calendar" aria-hidden="true"></i>
							</button>
						  </span>
						</div>
					</div>
				</div>	
				 <span class="mandatory" ng-show="expenseForm.date.$invalid || (expenseForm.$submitted && expenseForm.date.$untouched)" >Date is required</span> 				 
			   <div class="form-group clearfix">
					<label for="no_of_quantity" class="col-md-3 col-sm-3">No of Item</label>
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" id="no_of_quantity"  ng-change="vmExpenses.change()" value="0"  ng-model="vmExpenses.expense.noOfItem" name="no">
					</div>	
				  </div> 
				  <span class="mandatory" ng-show="expenseForm.no.$invalid || (expenseForm.$submitted && expenseForm.no.$untouched)" >Enter the Quantity</span>   
				   <div class="form-group clearfix">
					<label for="cost_per_unit" class="col-md-3 col-sm-3">Cost Per Quantity</label>
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" id="cost_per_unit" ng-change="vmExpenses.change()"  ng-model="vmExpenses.expense.costPerItem">
					</div>	
				  </div>   
				  <div class="form-group clearfix">
					<label for="total_amount" class="col-md-3 col-sm-3">Total Amount</label>
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" id="total_amount" value="" ng-model="vmExpenses.expense.totalAmount">
					</div>	
				  </div>   
				  <div class="form-group clearfix">
					<label for="choose_file" class="col-md-3 col-sm-3">Choose file</label>
					<div class="col-md-6 col-sm-6">
						<input id="uploadFile" class="upload-files" placeholder="Choose File" ng-model="vmExpenses.expense.fileName" name="file"/>
					</div>		
					<div class="col-md-3 col-sm-3">	
						<button class="btn btn-primary"   ngf-select="vmExpenses.upload($file)">Upload </button>
					</div>	
						      
				</div>
				<span class="mandatory" ng-show="expenseForm.file.$invalid || (expenseForm.$submitted && expenseForm.file.$untouched)" >Select the file</span>
			</div>
			<div class="col-md-12 button-section align-right">
				<input type="submit" class="btn btn-primary" name="Save" value="Save">
				<a class="btn btn-default " href="#/expenses">Cancel</a>
			</div>		 
		</form>
	</div>
</div>
<style>

.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
input[type="file"] {
    display: block;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.hrApp md-content {
    padding-bottom: 200px; }
    .mandatory{
	color:red;
}
</style>