<div class="login-page height-fix">
    <div class="login-head">
        <a href="#" class="main-logo">
            <img src="assets/img/practys_logo.png">
        </a>
    </div>
    <div class="login_div">
		<div class="inner-center">
        <div class="loginsec1 clearfix">
            <span>
				<img src="assets/img/practyslogo.png">
			</span>
        </div>
        <div class="loginsec2 clearfix">
            <form name="loginForm" ng-submit="auth.login()">
                <div class="form-group userfontawsme">
					<span class="email-icon"></span>
                    <input ng-model="auth.login.userName" id="userName" class="text_input form-control" type="text" maxlength="50" autocomplete="off" name="username" placeholder="Email Id">
                </div>
                <div class="form-group pswdfontawsme ">
					<span class="pwd-icon"></span>
                    <input ng-model="auth.login.userPassword" id="userPassword" class="text_input form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="remember_me pull-left">
                    <input type="checkbox" name="remember" id="remember"  data-ng-model="remember">
                    <label for="remember"><span></span>Remember Me</label>
                </div>
                <div class="clearfix center-align">
                    <input id="login" class="blue-btn btn btn-primary" type="submit" value="LOGIN"><a ng-click="auth.openDefault()" class="forget-pwd">Forgot password?</a></div>
                <img ng-if="auth.loading" ng-src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
            </form>
        </div>
    </div>
	</div>
</div>
<style>
#wrapper {
    padding: 0;
}

.container-fluid {
    padding: 0;
}

body {
    background: #fff;
}

.pagepad-top {
    padding-top: 0px;
}
.login_div{display: table;
    table-layout: fixed;
	height:88%;
    }
.inner-center{display: table-cell;
    height: 100%;
    vertical-align: middle;
    }
#wrapper{
	height:100%;
}
@media (max-width:1920px) and (min-width:1500px){
	.login_div{
	height:95%;
    }
	#wrapper{
		height:97%;
	}
}	
</style>
<script type="text/ng-template" id="firstDialogId">
    <div class="ngdialog-message popup-bg col-md-12" ng-controller="loginCtrl as auth">
        <h3 class="password-tit">Forgot Password</h3>
        <div class="inner-popup">
            <div class="form-group clearfix">
                <div class="col-md-12">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your e-mail" ng-model="auth.popup.email">
                </div>
            </div>
            <input type="button" class="btn btn-primary popup-btn" ng-click="auth.forgotPassword(auth.popup)" name="Save" value="Reset my password">
        </div>
    </div>
</script>
