		<form class="popup-form">
		<div class="panel-body">
		<div class="panel-height">
				<div class="form-group clearfix">
					<!-- <label class="control-label col-md-3">Inventory ID</label> -->
					<div class="col-md-6">{{inventory.edit}}{{inventory.add}}
						<input type="hidden" value="" class="form-control" ng-model="inventory.id">
					</div>
				</div>
				<!-- <div class="form-group clearfix">
					<label class="control-label col-md-6 col-sm-6">Stock Item #</label>
					<div class="col-md-6 col-sm-6">
						<input type="text" value="" class="form-control" ng-model="inventory.itemId">
					</div>
				</div> -->
				<div class="form-group clearfix">
					<label class="control-label col-md-6 col-sm-6">Supplier</label>
					<div class="col-md-6 col-sm-6">
						<input type="text" value="" class="form-control" ng-model="inventory.supplierName">
					</div>
				</div>
				<div class="form-group clearfix">
					<label class="control-label col-md-6  col-sm-6">Date</label>
					<div class="col-md-6 col-sm-6">
						<div class="input-group date">
							<input
							type="text"
							class="form-control"
							readonly
							datepicker-popup="yyyy-MM-dd"
							ng-model="inventory.inventoryDate"
							is-open="openDatePickers[0]"
							close-text="Close">
						  <span class="input-group-btn">
							<button
							  type="button"
							  class="btn btn-primary"
							  ng-click="open($event,0)">
							  <i class="fa fa-calendar" aria-hidden="true"></i>
							</button>
						  </span>
						 </div> 
					</div>
				</div>
				<!-- 
				<div class="form-group clearfix">
					<label class="control-label col-md-6 col-sm-6">Type</label>
					<div class="col-md-6 col-sm-6">
						<input type="text" value="" class="form-control" ng-model="inventory.type">
					</div>
				</div> -->
				<div class="form-group clearfix" ng-if="inventory.edit == true">
					<label class="control-label col-md-6 col-sm-6">Drug Name</label>
					<div class="col-md-6 col-sm-6">
						<div custom-select="g as g.name for g in inventory.drugs | filter: $searchTerm" name="speciality" custom-select-options="drugSelection"  disabled="disabled" ng-model="inventory.Drug" required></div>
					</div>
				</div>
				<div class="form-group clearfix" ng-if="inventory.add == true">
					<label class="control-label col-md-6 col-sm-6">Drug Name</label>
					<div class="col-md-6 col-sm-6">
						<div custom-select="g as g.name for g in inventory.drugs | filter: $searchTerm" name="speciality" custom-select-options="drugSelection" ng-model="inventory.Drug" required></div>
					</div>
				</div>
				<div class="form-group clearfix">
					<label class="control-label col-md-6 col-sm-6">cost Per Item</label>
					<div class="col-md-6 col-sm-6">
						<input type="text" value="" disabled class="form-control" ng-model="inventory.Drug.cost">
					</div>
				</div>

				<div class="form-group clearfix" ng-if="inventory.edit == true">
					<label class="control-label col-md-6 col-sm-6">On Hand Quantity</label>
					<div class="col-md-6 col-sm-6">
						<input type="text"  numbers-only disabled value="" class="form-control" ng-change="total(inventory)" ng-model="inventory.onHandQty">
					</div>
				</div>
				<div class="form-group clearfix" ng-if="inventory.edit == true">	
					<label class="control-label col-md-6 col-sm-6">Quantity to Add</label>
					<div class="col-md-6 col-sm-6">
						<input type="text"  numbers-only value="" class="form-control" ng-change="total(inventory)" ng-model="inventory.addQty">
					</div>		
				</div>

				<div class="form-group clearfix" ng-if="inventory.add == true">
					<label class="control-label col-md-6 col-sm-6">Quantity</label>
					<div class="col-md-6 col-sm-6">
						<input type="text"  numbers-only value="" class="form-control" ng-change="total(inventory)" ng-model="inventory.originalQty">
					</div>	
				</div>

				<div class="form-group clearfix">
					<label class="control-label col-md-6 col-sm-6">Total Amount</label>
					<div class="col-md-6 col-sm-6">
						<input type="text" value="" class="form-control" disabled ng-model="inventory.totalAmount">
					</div>	
				</div>
				
				<div class="form-group clearfix">
					<label class="control-label col-md-6 col-sm-6">Description</label>
					<div class="col-md-6 col-sm-6">
						<textarea class="form-control col-md-6 " ng-model="inventory.description"></textarea>
					</div>
				</div>
			
			</div>
			</div>
			<div class="col-md-12 button-section align-right">
				<button class="btn btn-primary" ng-click = "updateInventory(inventory)">Save</button>
			</div>
		</form>
	
