<ul class="user-chat clearfix">
	<li class="clearfix"><span class="chat-img"><img src="assets/img/profileimg.jpg"></span><span class="msg-content"><p class="clearfix">Hi Clinic,Hi Mr.John how are you <span class="chat-time">12.30PM</span></p></span></li>
	<li class="clearfix"><span class="chat-img"><img src="assets/img/profileimg.jpg"></span><span class="msg-content"><p class="clearfix">Hi Mr.John how are you,Hi Mr.John how are you,Hi Mr.John how are you<span class="chat-time">12.30PM</span></p></span></li>
	<li class="clearfix"><span class="chat-img"><img src="assets/img/profileimg.jpg"></span><span class="msg-content"><p class="clearfix">Hi Clinic <span class="chat-time">12.30PM</span></p></span></li>
	<li class="clearfix"><span class="chat-img"><img src="assets/img/profileimg.jpg"></span><span class="msg-content"><p class="clearfix">Hi Mr.John how are you,Hi Mr.John how are you <span class="chat-time">12.30PM</span></p></span></li>
</ul>