	<form name="addPatient" ng-submit="addPatientDetails()" novalidate>
	<div class="ct-popup">
	<div class="panel-height">
<div class="panel-body">
	
			<div class="col-md-12 padding-zro">
				  <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">First Name <span class="mandatoryStar">*</span></label>
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" name="firstName" id="firstName"  ng-model="patient.firstName" required>
						<div class="mandatory" ng-show="addPatient.firstName.$invalid && (addPatient.$submitted || addPatient.firstname.$dirty)"><div ng-show="addPatient.firstName.$error.required">First Name Is Required</div></div>
					</div>		
				  </div>   
				  <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">Last Name <span class="mandatoryStar">*</span></label>
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" name="lastName" id="lastName"  ng-model="patient.lastName" required>
						<div class="mandatory" ng-show="addPatient.lastName.$invalid && (addPatient.$submitted || addPatient.lastName.$dirty)"><div ng-show="addPatient.lastName.$error.required">Last Name Is Required</div></div>
					</div>	
				  </div>
				  <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">NRIC/ID <span class="mandatoryStar">*</span></label>
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" name="nric" id="nric"  ng-model="patient.nric" required>
						<div class="mandatory" ng-show="addPatient.nric.$invalid && (addPatient.$submitted || addPatient.nric.$dirty)"><div ng-show="addPatient.nric.$error.required">NRIC or Id Is Required</div></div>
					</div>	
				  </div>
				   <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">Gender <span class="mandatoryStar">*</span></label>
					<div class="col-md-6 col-sm-6">
					<div class="checkbox-style">
						
					    <input type="radio" ng-model="patient.gender" name="gender" value="male" ng-required="!patient.gender" id="male2">
					  <label for="male2"><span><span></span></span>  Male
					  </label>
					  </div>
					  <div class="checkbox-style">
					 
					    <input type="radio" ng-model="patient.gender" name="gender" value="female" ng-required="!patient.gender" id="female2">
					     <label for="female2"><span><span></span></span>Female
					  </label>
					  </div>
					  <div class="mandatory" ng-show="addPatient.gender.$invalid && (addPatient.$submitted || addPatient.gender.$dirty)"><div ng-show="addPatient.gender.$error.required">Gender Is Required</div></div>
					</div>		
				  </div>
				  <div class="form-group clearfix">
					<label for="supplierName" class="col-md-6 col-sm-6">Date Of Birth <span class="mandatoryStar">*</span></label>
					<div class="col-md-6 col-sm-6">
						<div class="input-group date">
						<input
							type="text"
							class="form-control"
							name="DOB"
							readonly
							uib-datepicker-popup="yyyy-MM-dd"
							ng-model="patient.birthday"
							ng-change="ageCal(patient.birthday)"
							is-open="openDatePickers[0]"
							close-text="Close" name="date" required>
						  <span class="input-group-btn">
							<button
							  type="button"
							  class="btn btn-primary"
							  ng-click="openFrom($event, 0)">
							  <i class="fa fa-calendar" aria-hidden="true"></i>
							</button>
						  </span>
						</div>
						  <div class="mandatory" ng-show="addPatient.DOB.$invalid && (addPatient.$submitted || addPatient.DOB.$dirty)"><div ng-show="addPatient.DOB.$error.required">Date Of Birth Is Required</div></div>
					</div>
				</div>	
				   <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">Age <span class="mandatoryStar">*</span></label>
					<div class="col-md-6 col-sm-6">
						<input type="text"  numbers-only class="form-control" name="age" id="age"  ng-model="patient.age"  required>
						 <div class="mandatory" ng-show="addPatient.age.$invalid && (addPatient.$submitted || addPatient.age.$dirty)"><div ng-show="addPatient.age.$error.required">Age Is Required</div></div>
					</div>		
				  </div>
				  <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">Contact Number <span class="mandatoryStar">*</span></label>
					<label class="col-md-1 col-sm-1" style="left: 19px;top: 7px;">+65
					</label>
					<div class="col-md-5 col-sm-5">
						<input type="text" class="form-control" name="contactNumber" id="contactNumber" numbers-only   ng-model="patient.contactNumber" required>
						 <div class="mandatory" ng-show="addPatient.contactNumber.$invalid && (addPatient.$submitted || addPatient.contactNumber.$dirty)"><div ng-show="addPatient.contactNumber.$error.required">Contact Number Is Required</div></div>
					</div>		
				  </div>
				   <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">Email Address <span class="mandatoryStar">*</span></label>
					<div class="col-md-6 col-sm-6">
						<input type="email" class="form-control" name="email" id="email"  ng-model="patient.email" required>  
						<div class="mandatory" ng-show="(addPatient.email.$invalid && addPatient.$submitted) && (!addPatient.email.$modelValue && !addPatient.email.$error.required)">Enter Valid Email Address</div>
						 <div class="mandatory" ng-show="addPatient.email.$invalid && (addPatient.$submitted || addPatient.email.$dirty)"><div ng-show="addPatient.email.$error.required">Email Is Required</div></div>
					</div>		
				  </div>
				 <!--  <div class="form-group clearfix">
						<label for="itemName" class="col-md-6 col-sm-6">Password</label>
						<div class="col-md-6 col-sm-6">
						<input type="password" class="form-control" name="password" id="password"  ng-model="patient.password" required>
						<div class="mandatory" ng-show="addPatient.password.$invalid && (addPatient.$submitted || addPatient.password.$dirty)"><div ng-show="addPatient.password.$error.required">Password Is Required</div></div>
						</div>		
				 </div>
				 <div class="form-group clearfix">
						<label for="itemName" class="col-md-6 col-sm-6">Confirm Password</label>
						<div class="col-md-6 col-sm-6">
							<input type="password" class="form-control" name="confirmpassword" id="password"  ng-model="patient.cpassword" required>
							<div class="mandatory" ng-show="addPatient.confirmpassword.$invalid && (addPatient.$submitted || addPatient.confirmpassword.$dirty)"><div ng-show="addPatient.confirmpassword.$error.required">Confirm Password Is Required</div></div>
							<div  class="mandatory" ng-show="(patient.password != patient.cpassword) && (patient.cpassword)"> 
							<div>Must match the previous entry</div>
							</div>
						</div>		
				</div> -->
				   <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">Occupation <span class="mandatoryStar">*</span></label>
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" name="occupation" id="occupation"  ng-model="patient.occupation" required>
						<div class="mandatory" ng-show="addPatient.occupation.$invalid && (addPatient.$submitted || addPatient.occupation.$dirty)"><div ng-show="addPatient.occupation.$error.required">Occupation Is Required</div></div>
					</div>		
				  </div>
				  <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">Address <span class="mandatoryStar">*</span></label>
					<div class="col-md-6 col-sm-6">
						<textarea name="address" id="address" type="text" class="form-control"   ng-model="patient.address" required></textarea>
						<div class="mandatory" ng-show="addPatient.address.$invalid && (addPatient.$submitted || addPatient.address.$dirty)"><div ng-show="addPatient.address.$error.required"> Address Is Required</div></div>
					</div>		
				  </div>
				  <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">Drug Allergy <span class="mandatoryStar">*</span></label>
					<div class="col-md-6 col-sm-6">
						<div class="checkbox-style">
					    <input type="radio" ng-model="patient.drugAllergy" name="drug" value="yes" ng-required="!patient.drugAllergy" id="yes1">
					 <label for="yes1">  <span><span></span></span> Yes
					  </label></div>
					  <div class="checkbox-style">
					    <input type="radio" ng-model="patient.drugAllergy" name="drug" value="no" ng-required="!patient.drugAllergy" id="no1">
					 <label for="no1">  <span><span></span></span> No
					  </label>
					  </div>
					  <div class="mandatory" ng-show="addPatient.drug.$invalid && (addPatient.$submitted || addPatient.drug.$dirty)"><div ng-show="addPatient.drug.$error.required">Drug Allergy Is Required</div></div>	
					</div>	
					 
				  </div>
				  <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">Description</label>
					<div class="col-md-6 col-sm-6">
						<textarea class="form-control" name="description" id="description"  ng-model="patient.description"></textarea>
					</div>		
				  </div>
				  <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">Other Allergy <span class="mandatoryStar">*</span></label>
					<div class="col-md-6 col-sm-6">
					<div class="checkbox-style">
						
					    <input type="radio" ng-model="patient.otherAllergy" name="otherAllergy" value="yes" ng-required="!patient.otherAllergy" id="yes2">
					    <label for="yes2"><span><span></span></span>Yes
					  	</label>
					  	</div>
					  	<div class="checkbox-style">
					  	
					    <input type="radio" ng-model="patient.otherAllergy" name="otherAllergy" value="no" ng-required="!patient.otherAllergy" id="no2">
					  <label for="no2"> <span><span></span></span> No
					 	 </label>
					 	 </div>
					 	 <div class="mandatory" ng-show="addPatient.otherAllergy.$invalid && (addPatient.$submitted || addPatient.otherAllergy.$dirty)"><div ng-show="addPatient.otherAllergy.$error.required"> Other Allergy Is Required</div></div>
					</div>		
				  </div>
				  <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">Referred by</label>
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" name="reference" id="reference"  ng-model="patient.reference" required>
						<!-- <div class="mandatory" ng-show="addPatient.reference.$invalid && (addPatient.$submitted || addPatient.reference.$dirty)"><div ng-show="addPatient.reference.$error.required"> Reference Is Required</div></div> -->
					</div>		
				  </div>
				   <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">Emergency Contact Name <span class="mandatoryStar">*</span></label>
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" name="emergencyContactName" id="emergencyContactName"  ng-model="patient.emergencyContactName" required>
						<div class="mandatory" ng-show="addPatient.emergencyContactName.$invalid && (addPatient.$submitted || addPatient.emergencyContactName.$dirty)"><div ng-show="addPatient.emergencyContactName.$error.required"> Emergency Contact Name Is Required</div></div>
					</div>		
				  </div>
				   <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">Relationship <span class="mandatoryStar">*</span></label>
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" name="relationship" id="relationship"  ng-model="patient.emergencyRelationship" required>
							<div class="mandatory" ng-show="addPatient.relationship.$invalid && (addPatient.$submitted || addPatient.relationship.$dirty)"><div ng-show="addPatient.relationship.$error.required"> Relationship Is Required</div></div>
					</div>		
				  </div>
				    <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">Contact Number <span class="mandatoryStar">*</span></label>
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" name="emergencyContactNumber" id="emergencyContactNumber" numbers-only   ng-model="patient.emergencyContactNumber" required>
						<div class="mandatory" ng-show="addPatient.emergencyContactNumber.$invalid && (addPatient.$submitted || addPatient.emergencyContactNumber.$dirty)"><div ng-show="addPatient.emergencyContactNumber.$error.required"> Emergency Contact Number Is Required</div></div>
					</div>		
				  </div>
				   <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">Other Comments</label>
					<div class="col-md-6 col-sm-6">
						<textarea class="form-control" name="comments" id="comments"  ng-model="patient.comments" type="text" required></textarea>
						<!-- <div class="mandatory" ng-show="addPatient.comments.$invalid && (addPatient.$submitted || addPatient.comments.$dirty)"><div ng-show="addPatient.comments.$error.required"> Other Comments Is Required</div></div> -->
					</div>		
				  </div>
				  <div ng-if="patient.age < 18">
				  <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">Guardian Name</label>
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" name="guardianName" id="guardianName"  ng-model="patient.guardianName">
					</div>		
				  </div>
				   <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">Relationship</label>
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" name="guardianRelationship" id="guardianRelationship"  ng-model="patient.guardianRelationship">
					</div>		
				  </div>
				 <div class="form-group clearfix">
					<label for="itemName" class="col-md-6 col-sm-6">Contact Number</label>
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" name="guardianContactNumber" id="guardianContactNumber" numbers-only   ng-model="patient.guardianContactNumber">
					</div>		
				  </div>
				  </div>
				</div>
			 
		</div>
	</div>
	</div>
	<div class="col-md-12 button-section align-right">
				<input type="submit" class="btn btn-primary" name="Save" value="Save">
				<a class="btn btn-default " ng-click="cancel()">Cancel</a>
				<!-- <a class="btn btn-default " ng-if="vm.params == null" ui-sref="patient">Cancel</a>
				 <a class="btn btn-default " ng-if="vm.params"  ui-sref="settings">Cancel</a> -->
			</div>		
	</form>