<div class="panel sec-height" ng-controller="expenseController as vmExpenses">
    <div class="panel-heading clearfix">
        <h3 class="pull-left">Expenses</h3>
        <a ng-click="vmExpenses.addPop()" type="button" class="btn btn-default pull-right">Add</a>
    </div>
    <div class="panel-body">
        <div class="col-md-12 sorting-tab padding-zro align-right">
           <!--  <div class="filter-box clearfix pull-left mrl-0">
                <label>Search</label>
                <input type="text" ng-keyup="keyup(vmExpenses.items)" ng-model="vmExpenses.expense.search">
            </div> -->
            <div class="sort-date-picker">
                <div class="form-group clearfix ">
                    <label>From</label>
                    <div class="input-group date">
                        <input type="text" class="form-control" readonly uib-datepicker-popup="yyyy-MM-dd" ng-model="vmExpenses.expense.fromDate" is-open="openDatePicker[0]" close-text="Close">
                        <span class="input-group-btn">
						<button
						  type="button"
						  class="btn btn-primary"
						  ng-click="openFrom($event, 0)">
						  <i class="fa fa-calendar" aria-hidden="true"></i>
						</button>
					  </span>
                    </div>
                </div>
                <div class=" form-group clearfix">
                    <label>To</label>
                    <div class="input-group date">
                        <input type="text" class="form-control" readonly uib-datepicker-popup="yyyy-MM-dd" ng-model="vmExpenses.expense.toDate" is-open="openDatePickers[0]" close-text="Close">
                        <span class="input-group-btn">
						<button
						  type="button"
						  class="btn btn-primary"
						  ng-click="open($event, 0)">
						  <i class="fa fa-calendar" aria-hidden="true"></i>
						</button>
					  </span>
                    </div>
                </div>
                <button class="btn btn-primary pull-right search-btn" ng-disabled="vmExpenses.enableReset" ng-click="vmExpenses.getExpense()">Reset</button>
                <button class="btn btn-primary pull-right search-btn" ng-click="vmExpenses.searchFilter()"> Search</button>
            </div>
        </div>
        <div class="table-responsive">
            <table datatable="ng" class="table table-bordered in-list-tab table-striped">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Date</th>
                        <th>Product Name</th>
                        <th>Supplier</th>
                        <th>No of Items</th>
                        <th>Cost per unit</th>
                        <th>Total Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="vmExpenses.expenseDatas.length > 0" ng-repeat="x in vmExpenses.expenseDatas">
                        <td>{{$index+1}}</td>
                        <td>{{x.expenseDate}}</td>
                        <td>{{x.productName}}</td>
                        <td>
                            <p>{{x.supplierName}}</p>
                        </td>
                        <td>{{x.noOfItem}}</td>
                        <td ng-if="x.Drug.id == null"><span class="dollar">$</span> {{x.costPerItem}}</td>
                         <td ng-if="x.Drug.id != null"><span class="dollar">$</span> {{x.Drug.cost}}</td>
                        <td><span class="dollar">$</span> {{x.totalAmount}}</td>
                        <td class="action-blk"><span class="action-icon"><a class="fa fa-edit" aria-hidden="true" ng-click="vmExpenses.editPop(x.id)"></a><a ng-if="x.fileName != '' " class="fa fa-eye" aria-hidden="true"  ng-click="openFile(x.filePath,x.fileName)"></a><a  confirm-click class="fa fa-trash" aria-hidden="true" ng-click="confirmClick() && vmExpenses.deleteExpense(x.id)"></a></span></td>


                        <!-- ng-click="vmExpenses.viewPop(x.id)" -->
                    </tr>
                </tbody>
               <!--  <tr ng-if="vmExpenses.expenseDatas.length <= 0">
                    <td colspan="8">No datas found</td>
                </tr> -->
            </table>
        </div>
        <!-- <ul uib-pagination total-items="totalItems" ng-model="currentPage"></ul> -->
    </div>
    <div ng-class="{'loader': practysLoader == true}">
        <div class="overlay-bg"></div>
        <div class="loading-bg"></div>
    </div>
</div>
<script type="text/ng-template" id="firstDialogId">
    <div class="ngdialog-message popup-bg col-md-12 credit-crd">
        <form name="expenseForm" ng-submit="vmExpenses.addExpenses(expenseForm)" novalidate>
            <h4 class="ct-tit">Add Expenses</h4>
            <div class="ct-popup">
				<div class="ct-pop-form">
					<div class="form-group clearfix">
						<label for="itemName" class="col-md-6 col-sm-6">Product Name</label>
						<div class="col-md-6 col-sm-6">
                         <input type="text" class="form-control" auto-complete ui-items="expenseDrugs" name="drug" ng-change="vmExpenses.productCheck(addExpenseform.productName)" id="Speciality" ng-model="addExpenseform.productName" required>
							<!-- <div custom-select="g as g.name for g in addExpensedata | filter: $searchTerm" name="drug" custom-select-options="drugSelection" ng-model="drugSelecteditem" required></div> -->
							<!-- <span class="mandatory" ng-show="expenseForm.drug.$invalid && (expenseForm.$submitted|| expenseForm.drug.$touched)">Product is required</span> -->
						</div>
					</div>
					<div class="form-group clearfix">
						<label for="supplierName" class="col-md-6 col-sm-6">Supplier Name</label>
						<div class="col-md-6 col-sm-6">
							<input type="text" class="form-control" name="supplierName" id="supplier_name" ng-model="addExpenseform.supplierName" required>
							<span class="mandatory" ng-show="expenseForm.supplierName.$invalid && (expenseForm.$submitted || expenseForm.supplierName.$touched )">Supplier Name is required</span>
						</div>
					</div>
					<div class="form-group clearfix">
						<label for="supplierName" class="col-md-6 col-sm-6">Date</label>
						<div class="col-md-6 col-sm-6">
							<div class="input-group date">
								<input type="text" class="form-control" readonly uib-datepicker-popup="yyyy-MM-dd" ng-model="addExpenseform.expenseDate" is-open="opendate[0]" close-text="Close" name="date" required>
								<span class="input-group-btn">
								<button
								  type="button"
								  class="btn btn-primary"
								  ng-click="opens($event, 0)">
								  <i class="fa fa-calendar" aria-hidden="true"></i>
								</button>
							  </span>
							</div>
							<span class="mandatory" ng-show="expenseForm.date.$invalid && (expenseForm.$submitted || expenseForm.date.$touched )">Date is required</span>
						</div>
					</div>
                    <!-- <div class="form-group clearfix">
                        <label for="no_of_quantity" class="col-md-6 col-sm-6">No of Item</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" numbers-only id="no_of_quantity" ng-disabled="addExpenseform.costPerItem == undefined || addExpenseform.costPerItem == ''" ng-change="vmExpenses.check();calculateBaseditems('add',addExpenseform)" value="0" ng-model="addExpenseform.noOfItem" name="no" required>
                            <span class="mandatory" ng-show="expenseForm.no.$invalid && (expenseForm.$submitted || expenseForm.no.$touched )">Enter the Quantity</span>
                        </div>
                    </div> -->
					<div class="form-group clearfix">
						<label for="no_of_quantity" class="col-md-6 col-sm-6">No of Item</label>
						<div class="col-md-6 col-sm-6">
							<input type="text" class="form-control" numbers-only id="no_of_quantity"  ng-change="vmExpenses.check();calculateBaseditems('add',addExpenseform)" value="0" ng-model="addExpenseform.noOfItem" name="no" required>
							<span class="mandatory" ng-show="expenseForm.no.$invalid && (expenseForm.$submitted || expenseForm.no.$touched )">Enter the Quantity</span>
						</div>
					</div>
					<div class="form-group clearfix">
						<label for="cost_per_unit" class="col-md-6 col-sm-6">Cost Per Quantity</label>
						<div class="col-md-6 col-sm-6">
							<input type="text" class="form-control" id="cost_per_unit"  numbers-only  ng-model="addExpenseform.costPerItem" ng-change="vmExpenses.check();calculateBaseditems('add',addExpenseform)" name="costperitem" required>
							<span class="mandatory" ng-show="expenseForm.costperitem.$invalid && (expenseForm.$submitted || expenseForm.costperitem.$touched )">Cost Per Item is required</span>
						</div>
					</div>
					<div class="form-group clearfix">
						<label for="total_amount" class="col-md-6 col-sm-6">Total Amount</label>
						<div class="col-md-6 col-sm-6">
							<input type="text" class="form-control" id="total_amount" ng-model="addExpenseform.totalAmount" name="totalAmount" required>
							<span class="mandatory" ng-show="expenseForm.totalAmount.$invalid && (expenseForm.$submitted || expenseForm.totalAmount.$touched )">Total Amount is required</span>
						</div>
					</div>
					<div class="form-group clearfix">
						<label for="choose_file" class="col-md-6 col-sm-6">Choose File</label>
						<div class="col-md-6 col-sm-6">
							<div class="col-md-6 col-sm-6 padding-zro">
								<input id="uploadFile" class="upload-files" placeholder="File Name..." ng-model="addExpenseform.fileName" name="file" disabled="disabled" />
							</div>
							<div class="col-md-6 col-sm-6">
								<button class="btn btn-primary" ngf-select="vmExpenses.upload($file)">Browse </button>
							</div>
						</div>
					</div>
				</div>
                <div class="col-md-12 button-section align-right">
                    <input type="submit" class="btn btn-primary" name="Save" value="Save">
                    <a ng-click="cancel()" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="editPopUp">
    <div class="ngdialog-message popup-bg col-md-12 credit-crd">
        <form name="editExpenseForm" class="form-horizontal" role="form" novalidate ng-submit="vmExpenses.updateExpenses(editExpenseForm,expense)">
            <h4 class="ct-tit">Edit Expenses</h4>
            <div class="ct-popup">
                <div class="form-group clearfix">
                    <label for="itemName" class="col-md-6 col-sm-6">Product Name</label>
                    <div class="col-md-6 col-sm-6">
                    <!--     <div custom-select="g as g.name for g in expense.drugs | filter: $searchTerm" name="speciality" disabled="disabled" custom-select-options="drugSelection" ng-model="expense.Drug" required></div> -->
                        <input type="text" class="form-control" auto-complete ui-items="expenseDrugs" disabled="disabled"  name="specialityService" ng-change="vmExpenses.productCheck(addExpenseform.productName)" id="Speciality" ng-model="expense.productName" required>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="supplierName" class="col-md-6 col-sm-6">Supplier Name</label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control" id="supplier_name" ng-model="expense.supplierName" name="supplierName" required>
                        <span class="mandatory" ng-show="editExpenseForm.supplierName.$invalid && (editExpenseForm.$submitted || editExpenseForm.supplierName.$touched )">Supplier Name is required</span>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="supplierName" class="col-md-6 col-sm-6">Date</label>
                    <div class="col-md-6 col-sm-6">
                        <div class="input-group date">
                            <input type="text" class="form-control" datepicker-popup="{{vmExpenses.format}}" ng-model="expense.expenseDate" is-open="opendate[0]" close-text="Close" name="date" required>
                            <span class="input-group-btn">
								<button
								  type="button"
								  class="btn btn-default"
								  ng-click="opens($event, 0)">
								  <i class="fa fa-calendar" aria-hidden="true"></i>
								</button>
							</span>
                            <span class="mandatory" ng-show="editExpenseForm.date.$invalid && (editExpenseForm.$submitted || editExpenseForm.date.$touched )">Date is required</span>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="no_of_quantity" class="col-md-6 col-sm-6">No of Item</label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control" numbers-only id="no_of_quantity" ng-change="vmExpenses.change('edit',expense)" ng-model="expense.noOfItem" name="noOfItem" required>
                        <span class="mandatory" ng-show="editExpenseForm.noOfItem.$invalid && (editExpenseForm.$submitted || editExpenseForm.noOfItem.$touched )">No of Item is required</span>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="cost_per_unit" class="col-md-6 col-sm-6">Cost Per Quantity</label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control" id="cost_per_unit" ng-change="vmExpenses.change('edit',expense)"  ng-model="expense.costPerItem" name="costperitem" required>
                        <span class="mandatory" ng-show="editExpenseForm.costperitem.$invalid && (editExpenseForm.$submitted || editExpenseForm.costperitem.$touched )">Cost Per Quantity is required</span>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="total_amount" class="col-md-6 col-sm-6">Total Amount</label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control"  id="total_amount" value="" ng-model="expense.totalAmount" name="totalAmount" required>
                        <span class="mandatory" ng-show="editExpenseForm.totalAmount.$invalid && (editExpenseForm.$submitted || editExpenseForm.totalAmount.$touched )">Total Amount is required</span>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="choose_file" class="col-md-6 col-sm-6">Choose file</label>
                    <div class="col-md-3 col-sm-3">
                        <input id="uploadFile" class="upload-files" placeholder="File Name..." ng-model="expense.fileName" disabled name="file" />
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button ng-show="expense.fileName == ''" type="button" class="btn btn-primary" ngf-select="vmExpenses.uploadFile($file,editExpenseForm)">Browse </button>
                        <button  ng-show="expense.fileName"  type="button" class="btn btn-primary" ng-click="vmExpenses.deleteFile(expense.id,expense.fileName)">Delete </button>
                    </div>
                </div>
                <div class="col-md-12 button-section align-right">
                    <input type="submit" class="btn btn-primary" value="Update" />
                    <a ng-click="cancel()" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</script>
<!-- For View Expenses -->
<script type="text/ng-template" id="viewPopUp">
    <div class="ngdialog-message popup-bg col-md-12 credit-crd">
        <form name="form" class="form-horizontal" role="form">
            <h4 class="ct-tit">View Expenses</h4>
            <div class="ct-popup">
                <div class="form-group clearfix">
                    <label for="itemName" class="col-md-6 col-sm-6">Product Name</label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control" auto-complete ui-items="expenseDrugs" disabled="disabled"  name="specialityService" ng-change="vmExpenses.productCheck(addExpenseform.productName)" id="Speciality" ng-model="expense.productName" required>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="supplierName" class="col-md-6 col-sm-6">Supplier Name</label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control" id="supplier_name" ng-model="expense.supplierName" disabled>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="supplierName" class="col-md-6 col-sm-6">Date</label>
                    <div class="col-md-6 col-sm-6">
                        <div class="input-group date">
                            <input type="text" disabled class="form-control" datepicker-popup="{{vmExpenses.format}}" ng-model="expense.expenseDate" is-open="openDatePicker[0]" close-text="Close">
                            <span class="input-group-btn">
								<button
								  type="button" disabled
								  class="btn btn-default"
								  ng-click="open($event, 0, 'popup')">
								  <i class="fa fa-calendar" aria-hidden="true"></i>
								</button>
							  </span>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="no_of_quantity" class="col-md-6 col-sm-6">No of Item</label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" disabled class="form-control" numbers-only id="no_of_quantity" ng-change="vmExpenses.change('edit',expense)" value="0" ng-model="expense.noOfItem">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="cost_per_unit" class="col-md-6 col-sm-6">Cost Per Quantity</label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control" id="cost_per_unit" ng-change="vmExpenses.change()" disabled ng-model="expense.costPerItem">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="total_amount" class="col-md-6 col-sm-6">Total Amount</label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control" disabled id="total_amount" value="" ng-model="expense.totalAmount">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="choose_file" class="col-md-6 col-sm-6">File</label>
                    <div class="col-md-3 col-sm-3">
                        <a ng-click="openFile(expense.filePath,expense.fileName)">{{expense.fileName}}</a>
                    </div>
                </div>
                <div class="col-md-12 button-section align-right">
                    <a ng-click="cancel()" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</script>
<style>
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
</style>
