<div class="appointment-day day-app-calend table-responsive">
	<table class="table main-table"  ng-class="{'doc-day-appointment':vm.userLevel == 'doctor','td-hide':tmes.orig == '00:00'}">
		<thead class="app-thead" ng-if="vm.userLevel == 'clinic'"  ng-class="{'doc-day-appointment-border':vm.len == 1}">
			<tr class="tr-style">
				<th class="thead-td  th-firstchild"><span class="border-hide"><h4>dummy</h4></span></th>
				<th class="thead-td th-wdth dr_list"  ng-repeat = "values in vm.doctorListDatas track by $index">
				<p class="dr-name"><b>Dr. {{values}}</b></p>
				</th>
			</tr>
		</thead>
		<tbody class="main-tbody">
			<tr class="" style="width: 100%; display: block;" ng-if="vm.getClinicStatus()">{{doctorCount}}
				<td class="app-td" colspan="1">
					<table  class="clearfix tbl-width">
					<tbody ng-repeat = "(tmk, times) in vm.times">

						<tr class="" ng-repeat = "(tK, tmes) in times">
						{{tmes}}
						<!-- <p ng-if="repeatDate == tmes.orig">{{}}</p> -->

							<td   id = "{{times.orig}}" ng-if="tmes.orig != '00:00'" class="timing-sec tbody-td col-md-3"><span class="tbody-border"></span><p >{{tmk % 4 === 0 ? tmes.text : ''}}</p>
								<div class="currTime-hover" data-title="{{curTiming}}">
									<hr ng-mouseover="vm.mouseOver = true" ng-mouseleave="vm.mouseOver = false"  class="time-border" style="width:{{curTimeWidth}}px;" ng-if="repeatDate == tmes.text">
								</div>
							</td>

							<!--}}	curTiming						{{vm.doctorListDatas}} -->

							<td  ng-if="tmes.orig != '00:00';vm.userLevel == 'clinic'"  class="tbody-td td-wdth patient-td" ng-init = "vm.popOver[tmes.orig][$index] = true"  ng-dblClick="vm.bookPop(tmes.orig)"  ng-right-click="vm.rightPop(tmes.orig,$index)" ng-mouseleave="vm.popOver[tmes.orig][$index] = true"  ng-class = "{'doctor-hover':vm.userLevel == 'doctor','td-hide':tmes.orig == '00:00'}" ng-repeat = "(dKval, dVal) in vm.doctorListDatas track by $index">

								<div ng-hide= "vm.popOver[tmes.orig][$index]" class="block-hover">
								<button ng-click="vm.bookPop(vm.rightClickTime)" class="btn btn-primary">Book</button>
								<button ng-click="vm.blockPop(vm.rightClickTime,dKval,dVal)" class="btn btn-danger">Block</button>
								</div>

								<div class="appointment-tim danger-clr" ng-if="vm.eventsList[tmes.orig][dKval].status == 'block'">
								<div ng-if = "vm.eventsList[tmes.orig] != undefined" class="day_app">
									<div class="clearfix" ng-style="{'height':vm.eventsList[tmes.orig][dKval].divHeight}" ng-class = "{'appointment-sec': vm.eventsList[tmes.orig][dKval].title != 'none','quater-app':vm.eventsList[tmes.orig][dKval].divHeight == '30px'} " >
										<div ng-if = "vm.eventsList[tmes.orig][dKval].title != 'none'">
											<a disabled class="disabled">
											</a>
										</div><b>Blocked</b>
										<a class="unblock-i" confirm-click ng-click="confirmClick() && vm.unblockTimeSlot(vm.eventsList[tmes.orig][dKval].appointmentId)"><i class="fa fa-unlock-alt" aria-hidden="true"></i></a>
									</div>
								</div>
								</div>
								<div class="appointment-tim" ng-if="vm.eventsList[tmes.orig][dKval].status != 'block'">
								<div ng-if = "vm.eventsList[tmes.orig] != undefined" class="day_app">
								<div ng-if="value.clinicId == vm.clinicId" ng-repeat="(key, value) in vm.eventsList[tmes.orig][dKval].colorCode">
								<!-- ng-class="{'checkout-clr':vm.eventsList[tmes.orig][dKval].status == 'checkOut' }" -->
									<div   class="clearfix" ng-style="{'height':vm.eventsList[tmes.orig][dKval].divHeight ,'background-color':value.colorCode}" ng-class = "{'appointment-sec': vm.eventsList[tmes.orig][dKval].title != 'none','checkout-clr':vm.eventsList[tmes.orig][dKval].status == 'checkOut' } " >
										<div ng-if = "vm.eventsList[tmes.orig][dKval].title != 'none'">
											<a ng-mouseover="vm.mouseover[tK][dKval] = true"  ng-mouseleave="vm.mouseover[tK][dKval] = false" class="pati-name" ui-sref="viewAppointment({appointmentId: vm.eventsList[tmes.orig][dKval].appointmentId})">
											<div ng-class="{'min-appointment':vm.eventsList[tmes.orig][dKval].divHeight == '30px'}" class="col-md-3 pt-img" ng-style="{'line-height':vm.eventsList[tmes.orig][dKval].divHeight}">
											<!-- <img src="assets/img/profileimg.jpg" /> -->
											<b>
											{{vm.eventsList[tmes.orig][dKval].title != 'none' ? vm.eventsList[tmes.orig][dKval].title : ''}}</b>

											</div>
											<div class="col-md-9">
											<div class="col-md-3 patient-d"><p>Title:</p><p>{{vm.eventsList[tmes.orig][dKval].title}}</p></div>
											<div class="col-md-3 patient-d"><p>Age:</p><p>{{vm.eventsList[tmes.orig][dKval].age}}</p></div>
											<div class="col-md-3 patient-d"><p>Gender:</p><p>{{vm.eventsList[tmes.orig][dKval].gender}}</p></div>
											<div class="col-md-3 patient-d"><p>D.O.B:</p><p>{{vm.eventsList[tmes.orig][dKval].birthday}}</p></div></div>
											</a>
										</div>
									</div>
									</div>
								</div>
								</div>
							</td>
							<td ng-if="tmes.orig != '00:00';vm.userLevel == 'doctor'" class="tbody-td td-wdth patient-td" ng-init = "vm.popOver[tmes.orig][$index] = true"  ng-dblClick="vm.bookPop(tmes.orig)"  ng-right-click="vm.rightPop(tmes.orig,$index)" ng-mouseleave="vm.popOver[tmes.orig][$index] = true"  ng-class = "{'doctor-hover':vm.userLevel == 'doctor','doc-off':tmes.orig == '00:00'}" ng-repeat = "(dKval, dVal) in vm.doctorListDatas track by $index">

								<div ng-hide= "vm.popOver[tmes.orig][$index]" class="block-hover">
								<button ng-click="vm.bookPop(vm.rightClickTime)" class="btn btn-primary">Book</button>
								<button ng-click="vm.blockPop(vm.rightClickTime,dKval,dVal)" class="btn btn-danger">Block</button>


								</div>


								<div class="appointment-tim danger-clr" ng-if="vm.eventsList[tmes.orig][dKval].status == 'block'">
								<div ng-if = "vm.eventsList[tmes.orig] != undefined" class="day_app">
									<div class="clearfix" ng-style="{'height':vm.eventsList[tmes.orig][dKval].divHeight}" ng-class = "{'appointment-sec-doc': vm.eventsList[tmes.orig][dKval].title != 'none'} " >
										<div ng-if = "vm.eventsList[tmes.orig][dKval].title != 'none'">
											<a disabled class="disabled">
											</a>
										</div><b>Blocked</b>
										<a confirm-click class="unblock-i" ng-click="confirmClick() && vm.unblockTimeSlot(vm.eventsList[tmes.orig][dKval].appointmentId)"><i class="fa fa-unlock-alt" aria-hidden="true"></i></a>
									</div>
								</div>
								</div>
								<!-- ng-class="{'checkout-clr':vm.eventsList[tmes.orig][dKval].status == 'checkOut' }" -->
								<div class="appointment-tim" ng-if="vm.eventsList[tmes.orig][dKval].status != 'block'">
								<div ng-if = "vm.eventsList[tmes.orig] != undefined" class="day_app">
									<div   class="clearfix" ng-style="{'height':vm.eventsList[tmes.orig][dKval].divHeight}" ng-class = "{'appointment-sec': vm.eventsList[tmes.orig][dKval].title != 'none','checkout-clr':vm.eventsList[tmes.orig][dKval].status == 'checkOut' } " >
										<div ng-if = "vm.eventsList[tmes.orig][dKval].title != 'none'">
											<a ng-class="{'min-appointment':vm.eventsList[tmes.orig][dKval].divHeight == '30px'}" ng-disabled="vm.eventsList[tmes.orig][dKval].status == 'checkOut' " ng-mouseover="vm.mouseover[tK][dKval] = true"  ng-mouseleave="vm.mouseover[tK][dKval] = false" class="pati-name" ui-sref="viewAppointment({appointmentId: vm.eventsList[tmes.orig][dKval].appointmentId})"><div ng-class="{'min-appointment':vm.eventsList[tmes.orig][dKval].divHeight == '30px'}" ng-style="{'line-height':vm.eventsList[tmes.orig][dKval].divHeight}" class="col-md-3 pt-img">
											<!-- <img src="assets/img/profileimg.jpg" /> -->
											<b class="patient-n">{{vm.eventsList[tmes.orig][dKval].title != 'none' ? vm.eventsList[tmes.orig][dKval].title : ''}}</b>

											</div>
											<div class="col-md-9">
											<div class="col-md-4 patient-d"><p>Title:</p><p>{{vm.eventsList[tmes.orig][dKval].title}}</p></div>
											<div class="col-md-2 patient-d"><p>Age:</p><p>{{vm.eventsList[tmes.orig][dKval].age}}</p></div>
											<div class="col-md-3 patient-d"><p>Gender:</p><p>{{vm.eventsList[tmes.orig][dKval].gender}}</p></div>
											<div class="col-md-3 patient-d"><p>D.O.B:</p><p>{{vm.eventsList[tmes.orig][dKval].birthday}}</p></div></div>
											</a>
										</div>
									</div>
								</div>
								</div>
							</td>
							<!-- <td ng-if="tmes.orig == '00:00'" class="clinic-off"><span class="tbody-border"></span><p><b>Clinic Off</b></p></td> -->
						</tr>
						</tbody>
					</table>

				</td>
			</tr>
			<tr class="" style="width: 100%; display: block;" ng-if="!vm.getClinicStatus()"><td  class="clinic-off"><span class="tbody-border"></span><p><b>Clinic Off</b></p></td></tr>
		</tbody>
	</table>
</div>
<script type="text/ng-template" id="blockConfirmation">
    <div class="ngdialog-message popup-bg col-md-12 credit-crd" >
        <form name="expenseForm" ng-submit="vm.blockTimeSlot(obj)">
			<h4 class="ct-tit">Block Confirmation</h4>
			<div class="ct-popup">
			  <div class="form-group clearfix">
				<label for="itemName" class="col-md-6 col-sm-6">Doctor Name</label>
				<div class="col-md-6 col-sm-6"><input type="text" disabled ng-model="obj.doctorName" class="form-control"></div>
			  </div>
			  <div class="form-group clearfix">
				<label for="itemName" class="col-md-6 col-sm-6">Date</label>
				<div class="col-md-6 col-sm-6">
				<input type="text" disabled ng-model="obj.date" class="form-control">
				</div>
			  </div>
			  <div class="form-group clearfix">
				<label for="itemName" class="col-md-6 col-sm-6">From Time</label>
			<!-- 	<input type="text" disabled ng-model="obj.startTime">	 -->
			<div class="col-md-6 col-sm-6">
				<div
				   uib-timepicker
				   ng-model="obj.appointmentStart"
				   hour-step="1"
				   minute-step="15"
				   mousewheel = "false"
				   readonly-input="true"
				   show-meridian="true">
				</div>
				</div>
			  </div>
			  <div class="form-group clearfix">
				<label for="itemName" class="col-md-6 col-sm-6">To Time</label>
		<!-- 		<input type="text" disabled ng-model="obj.endTime">	 -->
		<div class="col-md-6 col-sm-6">
				<div
				   uib-timepicker
				   ng-model="obj.appointmentEnd"
				   hour-step="1"
				   minute-step="15"
				   mousewheel = "false"
				   readonly-input="true"
				   show-meridian="true" >
				</div>
				</div>
			  </div>
			  <div class="form-group clearfix">
				<label for="itemName" class="col-md-6 col-sm-6">Reason</label>
				<div class="col-md-6 col-sm-6">
				<input type="text" ng-model="obj.reason" name="reason" class="form-control">
				</div>
			  </div>
			  <div class="col-md-12 button-section align-right">
			  <img class="proceed-loader" ng-show="loader" src="assets/img/giphy.gif">
			  <button type="submit" name="block" value="Block" class="btn btn-danger block-btn">Block</button>
			  <a  ng-if="clickTime == undefined" class="btn btn-default cancel-btn" ng-click="close()" >Cancel</a>
			  </div>
		</form>
		</div>
	</div>
</script>
 <!-- drag-select drag-select-ids="ids"  -->
<style>

	hr { background-color: red; height: 1px; border: 2px; }

/*[drag-select] {
  cursor: pointer;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

[drag-select] .eng-selected-item {
  background: #e1e1e1;
  color: white;
}

td {
  padding: 10px;
  border: 1px solid gray;
}
*/.disabled {
    color: #888;
}
 .tooltip {
        border: 1px solid black;
        width: 230px;
        margin-left: 58px;
        margin-top: -35px;
        background-color: darkcyan;
        border-radius: 4px;
        height: 20px;
        color: white;
    }
.appointment-day div.appointment-tim .appointment-sec {
    top: -15px;
    border-bottom: 1px solid #fff;
}
.day-app-calend table .th-wdth {
    width: auto;
}
</style>
