<div class="panel book_appointment clearfix" ng-controller = "bookAppointmentController as vm"> 
	<h3 class="ct-tit">Create an Appointment</h3>

 <form name="form" class="form-horizontal" ng-submit="vm.addEvent(vm.appointment,patientBookObj)" role="form" novalidate>
 <div class="ct-popup">
 <div class="panel-height">
 <div class="panel-body">
	<div class="col-md-12 padding-zro clearfix"> 
		
	 		<div class="form-group" ng-if="vm.userLevel == 'clinic'">
	 			<label class="col-md-5 col-sm-5 ">Speciality </label>
				<div class="col-md-7 col-sm-7"><div custom-select="g as g.name for g in vm.specialities | filter: $searchTerm" name="speciality" custom-select-options="level1Options" ng-model="vm.appointment.speciality" required></div><p class="mins_wrp"></p>
				</div>
				<span class="mandatory"  ng-show="(form.speciality.$dirty || vm.submitted) && form.speciality.$invalid "><span class="mandatory" ng-show="form.speciality.$error.required">speciality required</span></span>
			</div>
			<div class="form-group" ng-if="vm.userLevel == 'doctor'">
	 			<label class="col-md-5 col-sm-5 ">Speciality </label>
				<div class="col-md-7 col-sm-7"><input type="text" disabled="disabled" ng-model="vm.appointment.speciality"><p class="mins_wrp"></p>
				</div>
				
			</div>
			<div class="form-group " ng-if="vm.userLevel == 'clinic'">
			<label class="col-md-5 col-sm-5">Doctor </label>
				<div class="col-md-7 col-sm-7"><div custom-select="doc.id as doc.username for doc in vm.doctorLists | filter: $searchTerm" name="doctorID" ng-model="vm.appointment.doctorId" ng-disabled="!vm.doctorEnable"
				ng-change="vm.getAppointments()" custom-select-options="doctorSelectptions" required></div>
				</div>
				<span class="mandatory" ng-show="(form.doctorID.$dirty || vm.submitted) && form.doctorID.$invalid "><span class="mandatory" ng-show="form.doctorID.$error.required">doctor required</span></span>
			</div>
			<div class="form-group " ng-if="vm.userLevel == 'doctor'">
			<label class="col-md-5 col-sm-5">Doctor </label>
				<div class="col-md-7 col-sm-7"><input type="text" disabled="disabled" ng-model="vm.appointment.doctor">
				</div>
				
			</div>
			<div class="form-group" ng-if="vm.userLevel == 'clinic'">
	 			<label class="col-md-5 col-sm-5">Service </label>
				<div class="col-md-5 col-sm-5"><div custom-select="g as g.name for g in vm.serviceDatas | filter: $searchTerm" ng-disabled="!vm.serviceEnable" custom-select-options="levelOptions" ng-model="vm.appointment.service" name="service" required></div>
				<span class="mandatory" ng-show="(form.service.$dirty || vm.submitted) && form.service.$invalid "><span class="mandatory" ng-show="form.service.$error.required">service required</span></span>
				</div>
				<p class="mins_wrp col-md-2 col-sm-2 padding-zro">({{vm.serviceTimes}} mins)</p>
			</div>
			<div class="form-group" ng-if="vm.userLevel == 'doctor'">
	 			<label class="col-md-5 col-sm-5">Service </label>
				<div class="col-md-5 col-sm-5"><div custom-select="g as g.name for g in vm.serviceDatas | filter: $searchTerm"  custom-select-options="levelOptions" ng-model="vm.appointment.service" name="service" required></div>
				<span class="mandatory" ng-show="(form.service.$dirty || vm.submitted) && form.service.$invalid "><span class="mandatory" ng-show="form.service.$error.required">service required</span></span>
				</div>
				<p class="mins_wrp col-md-2 col-sm-2 padding-zro">({{vm.serviceTimes}} mins)</p>
			</div>
			<div class="form-group">
	 			<label class="col-md-5 col-sm-5">Service Cost</label>
	 			<div class="col-md-7 col-sm-7">	
				<input type="text" numbers-only disabled ng-model = "vm.appointment.serviceCost">
				</div>
			</div>
		  	<div class="form-group userfontawsme">
				<label class="col-md-5 col-sm-5">Patient Name </label>
				<div ng-if="!patientBookApp" class="col-md-7 col-sm-7">	
				<div custom-select="g as g.username for g in vm.patients | filter: $searchTerm" custom-select-options="patientSelection" ng-model="vm.appointment.patient" name="patient" required></div>
				<span class="mandatory" ng-show="(form.patient.$dirty || vm.submitted) && form.patient.$invalid "><span class="mandatory" ng-show="form.patient.$error.required">patient required</span></span>
				
					
				 	<!-- <angucomplete-alt id="ex1"
		              placeholder="Search for patients"
		              pause="100"
		              selected-object="vm.select"
		              local-data="vm.patients"
		              search-fields="username"
		              title-field="username"
		              minlength="1"
		              input-class="form-control form-control" required>
 -->
				</div>
				<div ng-if="patientBookApp" class="col-md-7 col-sm-7">	
				<input type="text"  ng-model="patientBookObj.patientName" name="patient" disabled>
				<input type="text" hidden ng-model="patientBookObj.patientId" name="patient" >
				</div>
		  	</div>
		  
		 	 <div class="form-group" ng-show = "vm.serviceSelect">
			 <label class="col-md-5 col-sm-5">Date </label>
			 	<div class="col-md-7 col-sm-7 date-input-group"><div class="input-group input-group date"><input
			 		ng-disabled = "clickTime != undefined"
					type="text"
					class="form-control"
					readonly
					uib-datepicker-popup="yyyy-MM-dd"
					ng-model="vm.appointment.endsAt"
					date-disabled="disabled(date, mode)"
					is-open="openDatePickers[0]"
					min-date = "vm.startDate"
					max-date = "vm.maxDate"
					show-weeks = "false"
					close-text="Close">
			  	<span class="input-group-btn">
					<button
					ng-disabled = "clickTime != undefined"
					  type="button"
					  class="btn btn-primary date-btn"
					  ng-click="open($event, 0)" readonly>
					  <i class="fa fa-calendar"></i>
					</button>
			  	</span>
				</div>
				</div>
				</div>
			 	<div class="form-group "  ng-show = "vm.serviceSelect">
					<label class = "col-md-5 col-sm-5">Time </label>
				<div class="col-md-7 col-sm-7 appointment-time">
			<!-- 	{{vm.serviceTimes}} -->
				<div

				  uib-timepicker
				  mousewheel = "false"
				  arrowkeys = "false"
				  ng-model="vm.appointment.endsAt"
				  hour-step="1"
				  readonly-input="true"
				  ng-change = "vm.checkAppointments()"
				  minute-step="15"
				  show-meridian="true" class="appointment-time">
				</div>
				</div>				
		  	</div>
		  	<div  ng-show = "vm.serviceSelect" class="form-group userfontawsme">
		  	<label class="col-md-5 col-sm-5" for=""></label>
				<div class="col-md-7 col-sm-7">	
				<div class="checkbox-style">
				<input type="checkbox" ng-model="vm.appointment.check" ng-click="toggle = !toggle" id="cash">
				 <label for="cash"><span><span></span></span>  Do You want to Set End Time?
                      </label>
				</div>
				</div>
		  	</div>
		  	<div class="form-group "  ng-if = "toggle">
					<label class = "col-md-5 col-sm-5">End Time </label>
				<div class="col-md-7 col-sm-7 appointment-time">
			<!-- 	{{vm.serviceTimes}} -->
				<div

				  uib-timepicker
				  mousewheel = "false"
				  arrowkeys = "false"
				  ng-model="vm.appointment.endTime"
				  hour-step="1"
				  readonly-input="true"
				  ng-change = "vm.checkAppointments()"
				  minute-step="15"
				  show-meridian="true" class="appointment-time">
				</div>
				</div>				
		  	</div>

		
  		</div>
  
  		</div>
		 </div>
		 </div>
		
		 <div class="col-md-12 button-section align-right">
		 	<img class="proceed-loader" ng-show="loader" src="assets/img/giphy.gif">
  			<div class= "col-md-4 pull-left">
  				<span id ="error" style ="color:red"></span>
  			</div>
	  		

			<button type = "submit" class="btn btn-primary">Add</button>
			<a   class="btn btn-default " ng-click="vm.close()" >Cancel</a>

			<!-- ng-if="clickTime == undefined" -->
		</div>
  </form>
 
</div>