<div class="panel sec-height patient_datas_pg" ng-if="vm.type == 'clinic'">
    <div class="panel-heading clearfix">
        <h3 class="pull-left"><b>Patient Data</b></h3>
        <div class="col-md-9 pull-right top-sort-box sorting-tab ">
            <span class="filter-box">
            <label>Search by patient Name : </label>
            <input type="text" ng-model="query">
			</span>
        </div>
    </div>
    <div class="panel-body">
        <div class="patient-list col-md-12">
            <ul class="clearfix" id="myUL" ng-if="vm.patientLists != ''">
                <li class="col-md-3" ng-repeat="patient in vm.patientLists |filter :query" ui-sref="patientDetails({id: patient.id})">
                    <div class="patient-box clearfix">
                        <span class="patient-img">	
							<img ng-if="patient.image != ''" ng-src="{{patient.thumbImage}}{{patient.image}}" >
							<img ng-if="patient.image == ''" ng-src="assets/img/profileimg.jpg" >
						</span>
                        <div class="patient-name">
                            <h6>{{patient.username}}</h6>
                            <span>ID: {{patient.id}}</span>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="clearfix" ng-if="vm.patientLists == ''">
                <li class="col-md-3">
                    No patients Found
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel sec-height patient_datas_pg" ng-if="vm.type == 'doctor'">
    <div class="panel-heading clearfix">
        <h3 class="pull-left">Patient List</h3>
        <div class="col-md-9 pull-right top-sort-box sorting-tab">
            <div class="filter-box">
                <label>Search by patient Name : </label>
                <input type="text" ng-model="query">
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="patient-list col-md-12">
            <ul class="clearfix" ng-if="vm.patientLists != ''">
                <li class="col-md-3" ng-repeat="patient in vm.patientLists | filter:query">
                    <div class="patient-box clearfix">
                        <span class="patient-img">
							<img ng-if="patient.image != ''" ng-src="{{patient.thumbImage}}{{patient.image}}" ui-sref="patientDetails({id: patient.id})">
							<img ng-if="patient.image == ''" ng-src="assets/img/profileimg.jpg" ui-sref="patientDetails({id: patient.id})">
						</span>
                        <div class="patient-name">
                            <h6>{{patient.username}}</h6>
                            <span>ID: {{patient.id}}</span>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="clearfix" ng-if="vm.patientLists == ''">
                <li class="col-md-3">
                    No patients Found
                </li>
            </ul>
        </div>
    </div>
</div>
<div ng-class="{'loader': practysLoader == true}">
    <div class="overlay-bg"></div>
    <div class="loading-bg"></div>
</div>
<style>
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
</style>
